{% extends "base.twig" %}

{# heavily inspired from https://matthiasnoback.nl/training/ #}

{% block content %}
    <div class="container" id="trainings">
        <h1>{{ title }}</h1>

        <p>
            Would you like to learn about Rector, Symfony, Monorepo or PHPStan in a fast and practical way? I organize trainings to pass distilled knowledge from 16 years of experience in couple of days.
        </p>

        <p>
            In the training we code together, learn from mistakes and their understanding. My goal is to <strong>build your confidence to the limit</strong> when you don't need me. You'll be able to build anything from the training yourself.
        </p>

        <br>
        <br>

        {# see https://getbootstrap.com/docs/5.0/components/card/#card-layout #}

        <div class="row">
            <div class="col-12 col-lg-6 mb-5">
                <div class="card shadow" id="rector-ownage">
                    <img src="{{ asset('assets/images/trainings/training_online.png') }}"  alt="Training in 04/2021 with Quentic">
                    <div class="card-body shadow">
                        <h2 class="mt-0 pb-0">Rector Ownage</h2>

                        <p>Do you want to run Rector on your project and get the most out of it? The first steps with AST are the hardest. This training aims to fast-forward you three months of self-taught know-how in a couple of days.</p>

                        <h3>What will You Learn?</h3>

                        <ul>
                            <li>What is abstract syntax tree and what are nodes</li>
                            <li>Difference between traverser and visitors</li>
                            <li>How to setup Rector in your project</li>
                            <li>How to configure Rector</li>
                            <li>What are rules and set</li>
                            <li>How to write custom rules and how to test them</li>
                            <li>
                                <strong>How to let Rector refactor your specific project</strong>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-12 col-lg-6">
                <div class="card shadow" id="phpstan-guru">
                    <img src="https://user-images.githubusercontent.com/924196/141683658-de78a678-263f-4d6a-8158-35281409453c.png" class="mt-4 mb-4 pt-2 pb-2 text-center" style="max-width: 18em; margin: auto">
                    <div class="card-body shadow">
                        <h2 class="mt-0 pb-0">PHPStan Guru</h2>

                        <p>Do you use PHPStan every day? Would you like to learn to use more rules that would help you find bugs faster?</p>

                        <h3>What will You Learn?</h3>

                        <ul>
                            <li>How to setup PHPStan to save your work, not spam your CI report</li>
                            <li>What are nodes and how PHPStan works internally</li>
                            <li>How to write custom rules that save you time everyday</li>
                            <li>How to test rules</li>
                            <li>How to solve "10 000 errors" situations</li>
                            <li>How to cherry-pick new features from higher levels without using them fully</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-12 col-lg-6 mb-5">
                <div class="card shadow" id="bulletproof-ci">
                    <img src="{{ asset('assets/images/trainings/training_offline.jpg') }}">
                    <div class="card-body shadow">
                        <h2 class="mt-0 pb-0">Bulletproof CI</h2>

                        <p>Would you like to learn from your CI? Would you like to shorten code reviews to fraction and speed up onboarding? Do you want to avoid repeating bugs that are not part of tests?</p>

                        <h3>What will You Learn?</h3>

                        <ul>
                            <li>Empower your CI with ECS, PHPStan and Rector</li>
                            <li>Custom coding standard and PHPStan rules you didn't know about, but save you so much work</li>
                            <li>See code-reviews from a different perspective, that is not bound to time</li>
                            <li>Automate conventions your team bears in their heads</li>
                            <li>Give you team less burden for adding a new convention</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <br>
        <br>

        <h2>What do People Say?</h2>

        <blockquote class="blockquote">
            "Rector workshop with Tomas Votruba was really fun! We learned a lot and wrote our first Rector rule. Can't wait to see Rector in <strong>action in our code base</strong> :) Thanks Tomas!"

            <footer class="blockquote-footer text-right">
                Christopher Hertel, <a href="https://www.quentic.com/">Quentic</a>
            </footer>
        </blockquote>

        <blockquote class="blockquote">
            "Tomas prepared a lecture fulfilling <strong>our specific needs &ndash; beyond the area of his portfolio</strong>. Techniques were clear and easy to comprehend."
            <footer class="blockquote-footer text-right">
                Roman Vesely, <a href="https://www.nesskdc.sk/en/">Ness KDC</a>
            </footer>
        </blockquote>

        <br>
        <hr>

        <h2>Duration and Pricing</h2>

        <p>
            Every training is standardized to 2 half-days. That way your team can learn step-by-step and have time to reflect before the next day.
        </p>

        <br>

        <ul>
            <li>1 200 €</li>
            <li>up to 8 people</li>
            <li>online training</li>
        </ul>

        <a href="{{ path(constant('TomasVotruba\\Website\\ValueObject\\RouteName::CONTACT')) }}" class="btn btn-success mt-4 ">
            Get in Touch
        </a>

        <br>
        <br>
        <hr>

        <h2>Consulting</h2>

        <p>
            Do you want to improve on personal level or different skill? I offer consulting, where I can help you with:
        </p>
        <ul>
            <li>Effective Symfony coaching</li>
            <li>Legacy Refactoring plan</li>
            <li>Adding a Monorepo</li>
        </ul>

        <br>

        <p>
            Would you like to improve your skill set?
            <a href="{{ path(constant('TomasVotruba\\Website\\ValueObject\\RouteName::CONTACT')) }}">Contact me</a> and we'll check your situation.
        </p>
    </div>
{% endblock %}
