{% macro trend(value) %}
    <span class="text-nowrap">
        {% if value > 0 %}
            <strong>
                <span class="text-success">+ {{ value|number_format }} %</span>
            </strong>
        {% else %}
            <span class="text-danger">- {{ value|number_format|abs }} %</span>
        {% endif %}
    </span>
{% endmacro %}

{% macro number(value, bold_breakpoint = 10000000, muted_breakpoint = 1000000) %}
    {% if value > bold_breakpoint %}
        <strong>{{ value|millions }}</strong>
    {% elseif value < muted_breakpoint %}
        <span class="text-muted">{{ value|millions }}</span>
    {% else %}
        {{ value|millions }}
    {% endif %}
{% endmacro %}

{% macro adoption(value) %}
    {% if value > 75 %}
        <strong>
            <span class="text-success">{{ value|number_format }} % ad.</span>
        </strong>
    {% elseif value > 50 %}
        <span class="text-success">{{ value|number_format }} % ad.</span>
    {% elseif value > 25 %}
        <span class="text-danger">{{ value|number_format }} % ad.</span>
    {% else %}
        <strong>
            <span class="text-danger">{{ value|number_format }} % ad.</span>
        </strong>
    {% endif %}
{% endmacro %}
