<head>
    <title>{{ title|escape }} | {{ site_title }}</title>
    <meta charset="utf-8">
    <meta name="robots" content="index, follow">

    {# mobile #}
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">

    {% if block('socialTags') is defined %}
        {{ block('socialTags') }}
    {% endif %}

    <link rel="alternate" type="application/rss+xml" title="{{ site_title }} Blog RSS" href="/rss.xml">

    {# Font Awesome - locally for css classes autocomplete #}
    <link href="/assets/font-awesome/css/font-awesome.min.css?v={{ random() }}" rel="stylesheet" type="text/css" />

    {# Twitter Bootstrap - locally for css classes autocomplete #}
    <link href="/assets/bootstrap/bootstrap.min.css?v={{ random() }}" rel="stylesheet" type="text/css" />

    <link href="/assets/prism/prism.css?v={{ random() }}" rel="stylesheet" type="text/css" />

    {# this is the last, so prism can be overriden here #}
    <link href="/assets/css/style.css?v={{ random() }}" rel="stylesheet" type="text/css" />

    {# bookies checklist #}
    <link href="/assets/css/checklist.css?v={{ random() }}" rel="stylesheet" type="text/css" />

    <script src="/assets/js/jquery-3.3.1.slim.min.js"></script>
    <script src="/assets/js/checklist.js" async defer></script>
</head>
