<!DOCTYPE html>
<html lang="en">
    {% include "_snippets/head.twig" %}
    <body>
        <!-- post_id: {{ post.getId() }} -->

        {% include "_snippets/menu.twig" %}

        <div class="mainContent">
            {% include content %}
        </div>

        {% include "_snippets/footer.twig" %}
    </body>
</html>

{% block content %}
    <div class="container-fluid" id="post">
        <h1>{{ post.title | noescape }}</h1>

        {% include "_snippets/post/postMetadataLine.twig", { "post": post, "showPullRequestLink": TRUE, "showCommentCount": TRUE } %}

        {% if post.deprecated is defined %}
            <div class="card border-danger card-bigger">
                <div class="card-header text-white bg-danger">
                    <strong>This post is deprecated since {{ post.deprecated_since }}</strong>
                </div>
                <div class="card-body">
                    {{ post.deprecated_message | noescape }}
                </div>
            </div>

            <br>
        {% endif %}

        {% if post.updated is defined %}
            <div class="card border-success card-bigger">
                <div class="card-header text-white bg-success">
                    <strong>This post was updated on {{ post.updated_since }}</strong>
                </div>
                <div class="card-body">
                    {{ post.updated_message | noescape }}
                </div>
            </div>

            <br>
        {% endif %}

        <div class="card card-bigger">
            <div class="card-body">
                {{ post.perex | noescape }}
            </div>
        </div>

        {% if post.rectify_post_id is defined %}
            <div class="card border-info card-bigger">
                <div class="card-header text-white bg-info">
                    <strong>Are you too lazy to refactor your code this way manually?</strong>
                </div>
                <div class="card-body">
                    {% set rectifyPost = $posts[$post['rectify_post_id']] %}

                    No worries, me too. So let's have a coffee and let <a href="/{{ rectifyPost.getRelativeUrl() }}">Rector handle this</a> for you!
                </div>
            </div>

            <br>
        {% endif %}

        {{ post.content | noescape }}

        <br>

        {% include "_snippets/post/postYouMightAlsoLike.twig", { "post": post } %}

        <div n:ifset="$post['tested']" class="mt-5 mb-5 card card-bigger">
            <div class="card-body">
                {capture $testDirectoryOnGithub}{{ github_repository_tests_directory }}/Posts/Year{$post->getDateInFormat('Y')}/{{ post.test_slug }}{/capture}
                <p>
                    <strong>This Post is Tested, Make it Last Forever</strong>
                </p>

                <p>
                    The final code is tested (<a href="{{ testDirectoryOnGithub }}"><em class="fa fa-fw fa-github"></em>see it on Github</a>) and is the best solution in time being.
                </p>

                <p>
                    Thanks to tests this code:
                    <ul>
                        <li><strong>always run against the most recent dependencies</strong></li>
                        <li>will get updates with just a little work</li>
                        <li>will be useful for as long as possible</li>
                    </ul>
                </p>

                <p>
                    Read more <a href="https://pehapkari.cz/blog/2017/01/12/why-articles-with-code-examples-should-be-CI-tested">about tested posts as they're essential for post's lifetime</a>.</p>
                <p>
                    <strong>Without tests the post won't make it through next <a href="https://semver.org/#spec-item-8">major</a> release</strong> and it's long tail effect would spread obsolete practise.
                </p>
            </div>
        </div>

        <a name="comments"></a>
        <h3>What do you think?</h3>

        {% include "_snippets/disqusComments.twig", { 'post': post } %}
    </div>

    <script id="dsq-count-scr" src="https://{{ disqus_shortname }}.disqus.com/count.js" async defer></script>
{% endblock %}


{{ block socialTags }}
    {* Facebook sharing *}
    <meta property="og:type" content="article" />
    <meta property="og:title" content="{{ post.title | replace:"&nbsp;", " "|replace:"&amp;", "&" }}" />
    <meta property="og:description" content="{{ post.perex | striptags }}" />
    <meta property="og:url" content="{{ site_url }}/{{ post.relativeUrl }}" />

    {* Twitter sharing *}
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@votrubaT">
    <meta name="twitter:title" content="{{ post.title | replace:"&nbsp;", " "|replace:"&amp;", "&" }}" />
    <meta name="twitter:description" content="{{ post.perex | striptags }}" />
{{ endblock }}
