<script src="{{ asset('assets/js/jquery-3.3.1.slim.min.js') }}"></script>
<script src="{{ asset('assets/gifplayer/jquery.gifplayer.js') }}"></script>
<script src="{{ asset('assets/js/cluster-checklist.js') }}"></script>
<script src="{{ asset('assets/js/cluster-expanable.js') }}"></script>

<script src="{{ asset('assets/js/cleaning-lady-checklist.js') }}"></script>

{# @see https://datatables.net/examples/styling/bootstrap4.html #}
{# sortable table in php framework trends #}
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>

{% include "_snippets/google_analytics.twig" %}

<script src="{{ asset('assets/prism/prism.js') }}"></script>

<script>
    $('.gifplayer').gifplayer();

    // sortable table
    $('.sortable_table').DataTable({
        // see https://datatables.net/examples/basic_init/filter_only.html
        "searching": false,
        "paging": false,
        "info": false,
        "order": [[1, "desc"]],
        // see https://datatables.net/examples/advanced_init/sort_direction_control.html
        "aoColumns": [
            null,
            { "orderSequence": [ "desc", "asc" ] },
            { "orderSequence": [ "desc", "asc" ] },
            { "orderSequence": [ "desc", "asc" ] }
        ]
    });
</script>

<div class="text-center mt-5" id="footer">
    <div class="row">
        <div class="col-12">
            {# updated from Google Analytics, 2020-04-25 #}
            Join 25 087 growing PHP developers every month: <a href="https://twitter.com/votrubaT">@votrubaT</a> or <a href="{{ path('rss') }}">RSS</a>
        </div>
    </div>

    <p>
        Build by <a href="{{ path('thank_you') }}">{{ contributors_count + 1 }} people</a>

        <span class="pl-2 pr-2">•</span>

        <a href="{{ path('blog_archive') }}">Archive</a>

        <span class="pl-2 pr-2">•</span>

        <a href="https://github.com/sponsors/TomasVotruba"><em class="fas fa-fw fa-heart"></em> Support me</a>

        <span class="pl-2 pr-2">•</span>

        <a href="{{ path('cleaning_lady_checklist') }}">
            <em class="fas fa-fw fa-broom"></em>
            Cleaning Lady Checklist
        </a>
    </p>

    <p class="hidden-sm-down">
        Hosted with <a href="https://github.com/symplify/symfony-static-dumper">Symfony Static Dumper</a> on <a href="https://github.com/tomasvotruba/tomasvotruba.com">GitHub</a>
    </p>
</div>
