<head>
    <title>{{ title|replace({'&nbsp;':' '})|escape }} | {{ site_title }}</title>
    <meta charset="utf-8">
    <meta name="robots" content="index, follow">

    <link rel="stylesheet" media="print" onload="this.onload=null;this.media='all';" id="ao_optimized_gfonts" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700&amp;display=swap" />

    {# mobile #}
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">

    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:creator" content="@votrubaT"/>

    {% if block('socialTags') is defined %}
        {{ block('socialTags') }}
    {% endif %}

    <link rel="alternate" type="application/rss+xml" title="{{ site_title }} Blog RSS" href="{{ path(constant('TomasVotruba\\Website\\ValueObject\\RouteName::RSS')) }}">

    {# Twitter Bootstrap - locally for css classes autocomplete #}
    <link href="{{ asset('assets/bootstrap/bootstrap.min.css') }}" rel="stylesheet" type="text/css" />

    <link href="{{ asset('assets/prism/prism.css') }}" rel="stylesheet" type="text/css" />

    {# this is the last, so prism can be overriden here #}
    <link href="{{ asset('assets/css/style.css') }}" rel="stylesheet" type="text/css" />



    {# bookies checklist #}
    <link href="{{ asset('assets/css/checklist.css') }}" rel="stylesheet" type="text/css" />
</head>
