<title>{{ title|replace({'&nbsp;':' '})|escape }} | {{ site_title }}</title>
<meta charset="utf-8">
<meta name="robots" content="index, follow">

<link rel="stylesheet" media="print" onload="this.media='all'" id="ao_optimized_gfonts" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:700&amp;display=swap" />

{# mobile #}
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<meta name="mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-capable" content="yes">

{# social sharing #}
<meta name="twitter:card" content="summary"/>
<meta name="twitter:creator" content="@votrubaT"/>

<meta property="og:image" content="{{ asset('assets/images/tomas_votruba.jpg') }}"/>

<link rel="alternate" type="application/rss+xml" title="{{ site_title }} Blog RSS" href="{{ path(constant('TomasVotruba\\Website\\ValueObject\\RouteName::RSS')) }}">

{# !!! Twitter Bootstrap - keep the local copy css classes autocomplete #}
{# to speed-up delivery https://stackoverflow.com/a/46142270/1348344 #}
{# see https://web.dev/defer-non-critical-css/ for preload #}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous" media="print" onload="this.media='all'">

<link href="{{ asset('assets/prism/prism.css') }}" rel="stylesheet" type="text/css" />

{# this is the last, so prism can be overriden here #}
<link href="{{ asset('assets/css/style.css') }}?{{ random() }}" rel="stylesheet" type="text/css" />
