{# normal menu #}

<div class="hidden-sm-down">
    <nav class="navbar">
        <div class="container-fluid">
            <ul>
                <li id="logo">
                    <img src="https://avatars1.githubusercontent.com/u/924196?s=60&v=4" class="me_avatar">
                    Tomas Votruba
                </li>
                <li class="{% if is_current_routes([
                    constant('TomasVotruba\\Website\\ValueObject\\RouteName::HOMEPAGE'),
                    constant('TomasVotruba\\Website\\ValueObject\\RouteName::BLOG_ARCHIVE'),
                    constant('TomasVotruba\\Website\\ValueObject\\RouteName::POST_DETAIL')
                ]) %}active{% endif %}">
                    <a href="{{ path(constant('TomasVotruba\\Website\\ValueObject\\RouteName::HOMEPAGE')) }}">Blog</a>
                </li>
                <li class="{% if is_current_route(constant('TomasVotruba\\Website\\ValueObject\\RouteName::PHP_FRAMEWORK_TRENDS')) %}active{% endif %}">
                    <a href="{{ path(constant('TomasVotruba\\Website\\ValueObject\\RouteName::PHP_FRAMEWORK_TRENDS')) }}">Trends</a>
                </li>
                <li class="{% if is_current_routes([
                    constant('TomasVotruba\\Website\\ValueObject\\RouteName::CLUSTERS'),
                    constant('TomasVotruba\\Website\\ValueObject\\RouteName::CLUSTER_DETAIL')
                ]) %}active{% endif %}">
                    <a href="{{ path(constant('TomasVotruba\\Website\\ValueObject\\RouteName::CLUSTERS')) }}">Clusters</a>
                </li>
                <li class="{% if is_current_route(constant('TomasVotruba\\Website\\ValueObject\\RouteName::PROJECTS')) %}active{% endif %}">
                    <a href="{{ path(constant('TomasVotruba\\Website\\ValueObject\\RouteName::PROJECTS')) }}">Projects</a>
                </li>
                <li class="{% if is_current_route(constant('TomasVotruba\\Website\\ValueObject\\RouteName::MISSION')) %}active{% endif %}">
                    <a href="{{ path(constant('TomasVotruba\\Website\\ValueObject\\RouteName::MISSION')) }}">Mission</a>
                </li>
                <li class="{% if is_current_route(constant('TomasVotruba\\Website\\ValueObject\\RouteName::CONTACT')) %}active{% endif %}">
                    <a href="{{ path(constant('TomasVotruba\\Website\\ValueObject\\RouteName::CONTACT')) }}">Contact</a>
                </li>
                <li id="top-menu-search">
                    {% include "_snippets/search_form.twig" %}
                </li>
            </ul>
        </div>
    </nav>
</div>

{# mobile menu #}
<div class="hidden-md-up">
    <nav class="navbar" id="mobile-menu">
        <div class="container">
            <a href="{{ path(constant('TomasVotruba\\Website\\ValueObject\\RouteName::HOMEPAGE')) }}" class="col-3 col-sm-3 {% if is_current_routes([
                constant('TomasVotruba\\Website\\ValueObject\\RouteName::HOMEPAGE'),
                constant('TomasVotruba\\Website\\ValueObject\\RouteName::BLOG_ARCHIVE'),
                constant('TomasVotruba\\Website\\ValueObject\\RouteName::POST_DETAIL')
            ]) %}active{% endif %}">
                <em class="fas fa-book"></em>
                <br>
                Blog
            </a>


            <a href="{{ path(constant('TomasVotruba\\Website\\ValueObject\\RouteName::CLUSTERS')) }}" class="col-3 col-sm-3 {% if is_current_route(
                constant('TomasVotruba\\Website\\ValueObject\\RouteName::CLUSTERS')
            ) %}active{% endif %}">
                <em class="fas fa-share-alt"></em>
                <br>
                Clusters
            </a>

            <a href="{{ path(constant('TomasVotruba\\Website\\ValueObject\\RouteName::PROJECTS')) }}" class="col-3 col-sm-3 {% if is_current_route(
                constant('TomasVotruba\\Website\\ValueObject\\RouteName::PROJECTS')
            ) %}active{% endif %}">
                <em class="fas fa-chart-bar"></em>
                <br>
                Trends
            </a>

            <a href="{{ path(constant('TomasVotruba\\Website\\ValueObject\\RouteName::CONTACT')) }}" class="col-3 col-sm-3 {% if is_current_route(constant('TomasVotruba\\Website\\ValueObject\\RouteName::CONTACT')) %}active{% endif %}">
                <em class="fas fa-phone"></em>
                <br>
                Contact
            </a>
        </div>
    </nav>

    <div class="hidden-md-up text-center" id="top-menu-search-mobile">
        {% include "_snippets/search_form.twig" %}
    </div>
</div>
