<div id="menu">
    <div class="container-fluid">
        <a href="{{ path(constant('TomasVotruba\\Website\\ValueObject\\RouteName::HOMEPAGE')) }}">Home</a>
        <span class="pl-2 pr-2">•</span>

        <a href="{{ path(constant('TomasVotruba\\Website\\ValueObject\\RouteName::BLOG')) }}">Blog</a>
        <span class="pl-2 pr-2">•</span>

        <a href="{{ path(constant('TomasVotruba\\Website\\ValueObject\\RouteName::BOOKS')) }}">Books</a>
        <span class="pl-2 pr-2">•</span>

        <a href="{{ path(constant('TomasVotruba\\Website\\ValueObject\\RouteName::TRAININGS')) }}">Trainings</a>
        <span class="pl-2 pr-2">•</span>

        <a href="{{ path(constant('TomasVotruba\\Website\\ValueObject\\RouteName::CONTACT')) }}">Contact</a>
        <span class="pl-2 pr-2">•</span>

        <a href="{{ path(constant('TomasVotruba\\Website\\ValueObject\\RouteName::ABOUT')) }}">About Me</a>
        <span class="pl-2 pr-2">•</span>

        <a href="https://twitter.com/votrubaT" target="blank">Twitter</a>
        <span class="pl-2 pr-2">•</span>

        <a href="{{ path(constant('TomasVotruba\\Website\\ValueObject\\RouteName::RSS')) }}" target="blank">RSS</a>
    </div>
</div>
