{# inspired by https://spatie.be/open-source #}

<br>
<br>

{% for package in packages %}
    <div class="row mt-4 pb-4 border border-light border-right-0 border-left-0 border-top-0">
        <div class="col-5">
            <strong>
                <a href="{{ package.repositoryUrl }}" class="text-bigger">{{ package.shortName }}</a>
            </strong>

            <br>

            <p class="text-muted text-smaller pt-2">
                <em class="fas fa-download"></em> {{ package.totalDownloads|number_format }}

                <span class="pl-2 pr-2">•</span>

                <em class="fas fa-star"></em> {{ package.githubStartsCount }}
            </p>
        </div>
        <div class="col-7">
            {{ package.description }}
        </div>
    </div>
{% endfor %}

<br>
<br>
