{% extends "layout/layout_base.twig" %}

{# @var book \TomasVotruba\Website\ValueObject\Book #}

{% block content %}
    <div class="container-fluid" id="blog">
        <h1>{{ title|raw }}</h1>

        <div class="float-right text-center">
            <a href="{{ book.leanpubLink }}" target="blank">
                <img src="{{ book.coverImage }}" style="width: 16em; padding: .5em;margin:0 0 .5em 1em" class="shadow" alt="{{ book.title }} Book Cover">
            </a>

            <br>

            <a href="{{ book.leanpubLink }}" target="blank" class="btn {% if book.isFinished %}btn-success{% else %}btn-warning{% endif %} btn-lg mt-4 mb-2">
                {% if book.isFinished %}
                    Buy a copy
                {% else %}
                    Become Early Adopter
                {% endif %}
            </a>
        </div>

        {{ book.longDescription|raw }}
    </div>
{% endblock %}
