<ul class="list-inline post-metadata">
    <li class="list-inline-item mr-3">
        <em class="fas fa-clock fa-fw"></em>
        <strong>{{ post.getReadingTimeInMinutes() }} min</strong>
    </li>

    <li class="list-inline-item mr-3">
        <em class="fas fa-calendar fa-fw"></em>
        <time datetime="{{ post.getDateTime|date('Y-m-D') }}">
            {% if post.updatedAt is not null %}<strike>{% endif %}

            {% if post.getDateTime|date('Y') == "now"|date("Y") %}
                {{ post.getDateTime|date('D, M j') }}
            {% else %}
                {{ post.getDateTime|date('D, M j, Y') }}
            {% endif %}

            {% if post.updatedAt is defined %}</strike>{% endif %}
        </time>
    </li>

    {% if post.updated %}
        <li class="list-inline-item mr-3 text-success">
            <em class="fas fa-fw fa-sync"></em> Updated {{ post.updatedAt|date('M, Y') }}
        </li>
    {% endif %}

    {% if showCommentCount is defined %}
        <li class="list-inline-item mr-3">
            <em class="fas fa-fw fa-comments"></em>
            <a href="{{ path('post_detail', {slug: post.slug }) }}/#disqus_thread">X</a> comments
        </li>
    {% endif %}

    {% if post.tested %}
        <li class="list-inline-item mr-3 text-primary">
            {% set test_directory_on_github %}{{ github_repository_tests_directory }}/Posts/Year{{ post.getDateTime|date('Y') }}/{{ post.getTestSlug }}{% endset %}
            <em class="fas fa-fw fa-check-circle"></em>
            <a href="{{ test_directory_on_github }}">Tested</a>
        </li>
    {% endif %}

    <li class="list-inline-item mr-3 text-primary">
        <em class="fab fa-fw fa-github"></em>
        <a href="{{ post.gitHubEditUrl }}">Edit Post</a>
    </li>
</ul>
