<!DOCTYPE html>
<html lang="en">
    <head>
        {% include "_snippets/head.twig" %}

        {#  social tags based on https://www.phpied.com/minimum-viable-sharing-meta-tags/ #}
        <meta property="og:title" content="{{ post.title|replace({'&nbsp;':' '})|escape }}" />
        <meta property="og:url" content="{{ site_url}}{{ path(constant('TomasVotruba\\Website\\ValueObject\\RouteName::POST_DETAIL'), {slug: post.slug }) }}" />
        <meta name="description" property="og:description" content="{{ post.perex|striptags }}" />

        {% if post.tweetImage %}
            <meta property="og:image" content="{{ post.tweetImage }}" />
            <meta name="twitter:card" content="summary_large_image"/>
        {% endif %}
    </head>

    <body>
        {# @var post \TomasVotruba\Blog\ValueObject\Post #}
        <!-- post_id: {{ post.getId() }} -->
        {% include "_snippets/menu.twig" %}

        <div class="container-fluid post" id="content">
            <h1>{{ post.title|raw }}</h1>

            <div class="pull-right">
                <a href="{{ post.gitHubEditUrl }}">Found a typo? Edit me</a>
            </div>

            <time datetime="{{ post.getDateTime|date('Y-m-D') }}" class="text-muted">
                {{ post.getDateTime|date('Y-m-d') }}
            </time>

            {% if post.deprecated %}
                <div class="card border-danger mt-4">
                    <div class="card-header text-white bg-danger">
                        This post is deprecated since {{ post.deprecatedAt|date("F Y") }}. Its knowledge is old and should not be used.
                        <br>
                        <strong>Why?</strong>
                    </div>
                    <div class="card-body pb-2">
                        {{ post.deprecatedMessage|markdown|raw }}
                    </div>
                </div>

                <br>
            {% endif %}

            {% if post.updated %}
                <div class="card border-success mt-4">
                    <div class="card-header text-white bg-success">
                        This post was updated at {{ post.updatedAt|date("F Y") }} with fresh know-how.
                        <br>
                        <strong>What is new?</strong>
                    </div>
                    {% if post.updatedMessage is not null %}
                        <div class="card-body pb-2">
                            {{ post.updatedMessage|markdown|raw }}
                        </div>
                    {% endif %}
                </div>

                <br>
            {% endif %}

            <div class="card card-bigger mb-5">
                <div class="card-body pb-2">
                    {{ post.perex|markdown|raw }}
                </div>
            </div>

            {{ post.htmlContent|raw }}

            <br>


            <div class="card mt-5 border-warning">
                <div class="card-body text-center mt-2">
                    <p>
                        Have you find this post useful? <strong>Do you want more?</strong>
                    </p>
                    <p>
                        Follow me on <a href="https://twitter.com/votrubaT">Twitter</a>, <a href="{{ path(constant('TomasVotruba\\Website\\ValueObject\\RouteName::RSS')) }}">RSS</a> or support me on <a href="https://github.com/sponsors/TomasVotruba">GitHub Sponsors</a>.
                    </p>
                </div>
            </div>

            <div class="card mt-4">
                <div class="card-body text-white bg-success text-center">
                    {% set previous_post = previous_post(post) %}

                    {% if previous_post is not null %}
                        <a href="{{ path(constant('TomasVotruba\\Website\\ValueObject\\RouteName::POST_DETAIL'), {'slug': previous_post.getSlug }) }}" class="d-block">
                            <div>
                                Read next → <strong>{{ previous_post.title|replace({'&nbsp;': ' '}) }}</strong>
                            </div>
                        </a>
                    {% endif %}
                </div>
            </div>

            <br>
            <br>

            <a name="comments"></a>
            {% include "_snippets/disqus_comments.twig" %}
        </div>

        <script id="dsq-count-scr" src="https://{{ disqus_shortname }}.disqus.com/count.js" async defer></script>

        <link href="{{ asset('assets/prism/prism.css') }}" rel="stylesheet" type="text/css" />
        <script src="{{ asset('assets/prism/prism.js') }}"></script>

        {% include "_snippets/google_analytics.twig" %}
    </body>
</html>
