<!DOCTYPE html>
<html lang="en">
    {% include "_snippets/head.twig" %}
    <body>
        {# @var post \TomasVotruba\Blog\ValueObject\Post #}
        <!-- post_id: {{ post.getId() }} -->

        {% include "_snippets/menu.twig" %}

        <div class="mainContent">
            <div class="container-fluid" id="post">
                <h1>{{ post.title|raw }}</h1>

                {% include "_snippets/post/post_metadata_line.twig" with { "post": post, "show_comment_count": true, "show_edit_link": true } %}

                {% if post.deprecated %}
                    <div class="card border-danger card-bigger">
                        <div class="card-header text-white bg-danger">
                            <strong>This post is deprecated at {{ post.deprecatedAt|date("F Y") }}</strong>
                        </div>
                        <div class="card-body">
                            {{ post.deprecatedMessage|markdown|raw }}
                        </div>
                    </div>

                    <br>
                {% endif %}

                {% if post.updated %}
                    <div class="card border-success card-bigger mt-5">
                        <div class="card-header text-white bg-success">
                            <strong>This post was updated at {{ post.updatedAt|date("F Y") }}</strong>
                        </div>
                        {% if post.updatedMessage is not null %}
                            <div class="card-body">
                                {{ post.updatedMessage|markdown|raw }}
                            </div>
                        {% endif %}
                    </div>

                    <br>
                {% endif %}

                <div class="card card-bigger mb-5">
                    <div class="card-body">
                        {{ post.perex|markdown|raw }}
                    </div>
                </div>

                {{ post.htmlContent|raw }}

                <br>

                <div class="row mb-5 mt-5">
                    <div class="col-12 mb-5">
                        {% set previous_post = previous_post(post) %}
                        {% if previous_post is not null %}
                            <a href="{{ path('post_detail', {'slug': previous_post.getSlug }) }}" class="d-block pt-4 pb-4 pl-4 pr-4 btn btn-success btn-wrappable">
                                <em class="fas fa-fw fa-forward"></em>
                                <strong>Read Next</strong>
                                <br>
                                <span class="text-bigger">
                                    {{ previous_post.title|replace({'&nbsp;': ' '}) }}
                                </span>
                            </a>
                        {% endif %}
                    </div>

                    <div class="col-12">
                        <a href="{{ post.gitHubEditUrl }}" class="d-block btn btn-dark btn-wrappable">
                            <em class="fab fa-fw fa-github"></em>
                            <strong>Found a typo?</strong> Fix it and join team of {{ contributors_count + 1 }}&nbsp;contributors
                        </a>
                    </div>
                </div>

                <br>

                <a name="comments"></a>
                {% include "_snippets/disqus_comments.twig" %}
            </div>

            <script id="dsq-count-scr" src="https://{{ disqus_shortname }}.disqus.com/count.js" async defer></script>
        </div>

        {% include "_snippets/footer.twig" %}
    </body>
</html>

{% block socialTags %}
    {# Facebook sharing #}
    <meta property="og:type" content="article" />
    <meta property="og:title" content="{{ post.title|replace({'&nbsp;':' '})|escape }}" />
    <meta property="og:description" content="{{ post.perex|striptags }}" />
    <meta property="og:url" content="{{ path('post_detail', {slug: post.slug }) }}" />

    {# Twitter sharing #}
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@votrubaT">
    <meta name="twitter:title" content="{{ post.title|replace({'&nbsp;':' '})|escape }}" />
    <meta name="twitter:description" content="{{ post.perex|striptags }}" />
{% endblock %}
