{% extends 'base.twig' %}

{% block content %}
<<<<<<< HEAD
<<<<<<< HEAD
    <div class="container-fluid">
        <h1>Weekly Blog About PHP Innovations</h1>

        {# display posts with as few divs as possible, for DOM performance on mobile #}

        {% include "_snippets/post/post_list.twig" with { posts: posts } %}
    </div>
{% endblock %}


{% block custom_footer %}
    {# special footer just for blog page #}
    <div id="footer">
        <div class="container-fluid text-center">
            Get next post first →

            <a href="https://twitter.com/votrubaT" target="blank">Twitter</a>
            <span class="pl-2 pr-2">•</span>

            <a href="{{ path(constant('TomasVotruba\\Website\\ValueObject\\RouteName::RSS')) }}" target="blank">RSS</a>
        </div>
    </div>
{% endblock %}
=======
    <div class="container-fluid" id="blog">
        <div class="row">
            {% set date_lines = [] %}
=======
    <div class="container-fluid">
        {% set date_lines = [] %}
>>>>>>> f5a08293 (styling posts)

{#            {% set was_first_post_marked = false %}#}
        {% set displayed_post_count = 0 %}
        {% set currentYear = "now"|date('Y') %}

        {# display only last X posts, for DOM performance on mobile #}
        {% for post in posts %}
            {% set postYear = post.dateTime|date('Y') %}

            {% if postYear != currentYear and postYear not in date_lines %}
                <h2 class="col-md-12 mb-5 clearfix" id="year-{{ postYear }}">
                    <br>
                    {{ postYear }}
                    {# https://stackoverflow.com/a/9432583/1348344 #}
                    {% set date_lines = date_lines|merge({postYear: postYear}) %}
                </h2>
            {% endif %}

            {% set displayed_post_count = displayed_post_count + 1 %}

            {% if loop.first %}
                <h1>
                    <a href="{{ path(constant('TomasVotruba\\Website\\ValueObject\\RouteName::POST_DETAIL'), {slug: post.slug }) }}">
                        {{ post.title|raw }}
                    </a>
                </h1>

                <div class="text-center m-auto">
                    {% include "_snippets/post/post_metadata_line.twig" with { post: post } %}
                </div>
            {% else %}
                {% if loop.index == 2 %}<ul class="mt-5 list-unstyled">{% endif %}

                <li class="mb-3 col-md-12 {% if post.updatedAt is not null %}bg-success text-white pt-2 pb-2{% endif %}">
                    <a href="{{ path(constant('TomasVotruba\\Website\\ValueObject\\RouteName::POST_DETAIL'), {slug: post.slug }) }}" class="post-list-title">{{ post.title|raw }}</a>
                    {% include "_snippets/post/post_metadata_line.twig" with { post: post } %}
                </li>
                <hr>
            {% endif %}
        {% endfor %}
        </ul>
        <br>
    </div>
{% endblock %}

>>>>>>> 6b281c30 (init blog on own page)
