{% extends 'layout/layout_base.twig' %}

{% block content %}
    <div class="container-fluid">
        <h1>Dj Schmutzka Mixes</h1>

        {% for dj_mix in dj_mixes %}
            {# @var dj_mix \TomasVotruba\Website\ValueObject\DjMix #}

            <img src="{{ dj_mix.imageUrl }}" alt="{{ dj_mix.title }}" style="max-width: 8em" class="img-thumbnail float-left mr-4">

            <h3 class="mt-0">{{ dj_mix.title }}</h3>
            <p class="text-bigger">
                <a href="{{ dj_mix.url }}">{{ dj_mix.url }}</a>
            </p>

            <div class="clearfix"></div>

            <hr class="mt-5 mb-5">
        {% endfor %}
    </div>
{% endblock %}
