{% extends 'layout/layout_base.twig' %}

{% block content %}
    <div class="container-fluid">
        <div class="text-center book-banner">
            <a href="https://leanpub.com/rector-the-power-of-automated-refactoring" target="blank" class="text-center">
                <img src="{{ asset('assets/images/banner-rector-book.png') }}" class="mb-2 ml-auto mr-auto rounded " style="max-height: 5em" alt="">
            </a>
        </div>

        <h1>
            I help PHP Companies <br>
            Change Fast&nbsp;and&nbsp;Safely
        </h1>

        <div class="card mb-4">
            <div class="card-body text-bigger">
                <p class="mb-3">
                    Latest posts from blog:
                </p>


                {% for post in last_posts %}
                    {# @var post \TomasVotruba\Blog\ValueObject\Post #}
                    <p>
                        •&nbsp;&nbsp;<a href="{{ path(constant('TomasVotruba\\Website\\ValueObject\\RouteName::POST_DETAIL'), {slug: post.slug }) }}" class="pt-3 pr-3">{{ post.title|raw }}</a>
                    </p>
                {% endfor %}
            </div>
        </div>

        <br>

        {# my dad raised me with quotes, at first I didn't understand them,
        as I was older, I ralized the Truth - it's a coding standard for Life #}

        <blockquote class="blockquote text-center">
            "{{ quote|raw }}"
        </blockquote>

        <br>

        <div class="card border-warning mt-5">
            <div class="card-body">
                <p>
                    <strong>{{ next_month }}, 2021</strong>: Do you want improve quality of your project and empower your developers to work faster with more joy?
                </p>
                <p>
                    I'm open to a new opportunity for <strong>10-20 hours/week</strong>.<br>
                    <a href="{{ path(constant('TomasVotruba\\Website\\ValueObject\\RouteName::CONTACT')) }}">Contact me</a>, maybe we'll have a match.
                </p>
            </div>
        </div>


        <script type="text/javascript">
            // @see https://stackoverflow.com/a/30776817/1348344
            var date = new Date();
            // display every 2rd hour, not to spam users
            if (date.getHours() % 2 === 1) {
                document.querySelector('.book-banner').style.display = 'visible';
            } else {
                document.querySelector('.book-banner').style.display = 'none';
            }
        </script>
    </div>
{% endblock %}
