{#<?xml version="1.0" encoding="UTF-8" ?>#}
{#<rss version="2.0"#}
{#    xmlns:content="https://purl.org/rss/1.0/modules/content/"#}
{#    xmlns:dc="https://purl.org/dc/elements/1.1/"#}
{#    xmlns:atom="https://www.w3.org/2005/Atom"#}
{#>#}
{#    <channel>#}
{#        <title>Tomas Votruba writes about PHP and education</title>#}
{#        <link>{{ site_url }}/</link>#}
{#        <description>PHP, Communities and Communication posts by Tomas Votruba</description>#}
{#        <pubDate>{{ "now"|date('r') }}</pubDate>#}
{#        <atom:link href="{{ site_url }}/rss.xml" rel="self" type="application/rss+xml" />#}

{#        <lastBuildDate>{{ most_recent_post_date_time|date('r') }}</lastBuildDate>#}

        {# https://stackoverflow.com/a/29161205/1348344 #}
        {% for post in posts %}
            {{ post.title }}

{#            {% set post_absolute_url %}{{ site_url }}{{ path(constant('TomasVotruba\\Website\\ValueObject\\RouteName::POST_DETAIL'), {'slug': post.slug }) }}{% endset %}#}

{#            <item>#}
{#                <title><![CDATA[ {{ post.title|replace({'&nbsp;':' '}) }} ]]></title>#}
{#                <link>{{ post_absolute_url }}</link>#}
{#                <description><![CDATA[ {{ post.perex|markdown|raw }} ]]></description>#}
{#                <content:encoded><![CDATA[ {{ post.htmlContent|raw }} ]]></content:encoded>#}
{#                <guid isPermaLink="false">{{ post_absolute_url }}</guid>#}
{#                <dc:creator><![CDATA[ Tomas Votruba ]]></dc:creator>#}

{#                #}{# @see https://wordpress.stackexchange.com/a/229773 #}
{#                <pubDate>{{ post.getDateTime|date('D, d M Y H:i:s +0000') }}</pubDate>#}
{#                {% if post.updatedAt is defined %}#}
{#                    <updated>{{ post.updatedAt|date('Y-m-d\TH:i:s\Z') }}</updated>#}
{#                    <atom:updated>{{ post.updatedAt|date('D, d M Y H:i:s +0000') }}</atom:updated>#}
{#                    <lastBuildDate>{{ post.updatedAt|date('D, d M Y H:i:s +0000') }}</lastBuildDate>#}
{#                {% else %}#}
{#                    <lastBuildDate>{{ post.dateTime|date('D, d M Y H:i:s +0000') }}</lastBuildDate>#}
{#                {% endif %}#}

{#                <comments>{{ post_absolute_url }}#disqus_thread</comments>#}
{#            </item>#}
        {% endfor %}
{#    </channel>#}
{#</rss>#}
