{% extends "base.twig" %}

{% block content %}
    <div class="container" id="contact">
        <h1>{{ title }}</h1>

        <p class="text-center bigger">
            Thanks to <a href="https://www.patreon.com/rectorphp">all</a> <a href="https://github.com/sponsors/TomasVotruba">my backers</a>
            <br>
            that support me in writing free posts and open-source.
        </p>

        <div class="text-center mt-5 mb-5">
            <a href="https://github.com/sponsors/TomasVotruba" class="btn btn-success btn-lg">
                Support Me
            </a>
        </div>

        <hr>

        <p class="text-center bigger">
            Thanks to all <strong>{{ contributors_count }} contributors</strong> who patiently fix my English + typoes
            <br>and keep this website up to date!
        </p>

        <br>

        <h2>Thanks for Great Contributions</h2>

        <br>

        {% set contributor_position = 1 %}
        <div class="row">
            {% for contributor in most_active_contributors %}
                <div class="col-4 d-flex mb-5 thank_you_person">
                    <img src="{{ contributor.photo }}" class="avatar rounded-circle">

                    <div class="w-100">
                        {{ contributor_position }}.
                        <span class="name">{{ contributor.name }}</span>

                        <div class="text-secondary clearfix">
                            <small>
                            for <a href="https://github.com/TomasVotruba/tomasvotruba.com/commits?author={{ contributor.name }}">{{ contributor.contribution_count }} commits</a>
                            </small>
                        </div>
                    </div>
                </div>

                {% set contributor_position = contributor_position + 1 %}
            {% endfor %}
        </div>

        <br>

        <h2>Thanks for Couple of Commits</h2>

        <br>

        <div class="row">
            {% for contributor in other_contributors %}
                <div class="col-4 mb-3 d-block">
                    {{ contributor_position }}. <a href="https://github.com/TomasVotruba/tomasvotruba.com/commits?author={{ contributor.name }}">
                        {{ contributor.name }}
                    </a>
                </div>

                {% set contributor_position = contributor_position + 1 %}
            {% endfor %}
        </div>
    </div>
{% endblock %}
