---
layout: "_layouts/default.twig"
title: "Clusters"
id: "clusters"

inspiration:
    - https://youtu.be/1HBNrwapfv0?t=1269: "Dusan Janovsky - Specialized micro-sites over general-posts-group"
---

<div class="container">
    <h1>{{ title|raw }}
        <br>
        <small>Shorter than a Book, Deeper than a Post</small>
    </h1>


    <div class="row">
        <div class="col-md-12">
            <p>
                {{ "now"|date("Y") }} is the fastest year ever. More and more information and too little time to read books.
            </p>

            <p>Today more than ever we need:</p>
            <ul>
                <li><strong>short and clear information</strong> for start,</li>
                <li>and also <strong>deeper and connected sources</strong> to learn complex topics</li>
            </ul>

            <p class="mt-4 text-muted">
                <em>Why <a href="/blog/2018/06/28/dont-read-books/">books and posts don't work</a> anymore?</em>
            </p>
        </div>
    </div>

    <hr>

    {#<h2 class="text-center mb-5">Jump to Cluster</h2>#}

    {# todo: design better, as side-by-side book cover, with small image #}

    {#<div class="row">#}
        {#{% for cluster in clusters %}#}
            {#<div class="col-md-3">#}
                {#<a href="#{{ cluster.title|webalize }}" class="btn">{{ cluster.title }}</a>#}
            {#</div>#}
        {#{% endfor %}#}
    {#</div>#}

    {#<br>#}
    <br>

    {# @todo make +/- button to make whole single clustter small, e.g. I don't care baout monorepo, but I care about CLI apps - I want to see them!!! #}

    {# add pictures, even random ones #}

    {% for cluster in clusters %}
        <a name="{{ cluster.title|webalize }}"></a>
        <div class="card mb-5 cluster">
            <div class="text-center card-header">
                <h2 class="card-title">
                    <a href="#{{ cluster.title|webalize }}">
                        {{ cluster.title }}
                    </a>
                </h2>

                {% set total_reading_time = 0 %}
                {% for postId in cluster.post_ids %}
                    {% set total_reading_time = total_reading_time + posts[postId].getReadingTimeInMinutes %}
                {% endfor %}

                <ul class="list-inline post-metadata mt-4">
                    <li class="list-inline-item">
                        <em class="fas fa-puzzle-piece fa-fw"></em> {{ cluster.post_ids|length }} parts
                    </li>
                    <li class="list-inline-item ml-4">
                        <em class="fas fa-clock fa-fw"></em> {{ total_reading_time }} mins
                    </li>
                </ul>
                <p class="text-left pt-4 pb-2">{{ cluster.description }}</p>
            </div>
            <div class="card-body">
                <ul class="mt-3 checklist line-separated">
                    {% for postId in cluster.post_ids %}
                        {% set activePost = posts[postId] %}
                        <li class="checklist__item">
                            <input class="checklist__input" type="checkbox" id="item_{{ activePost.id }}" value="{{ activePost.id }}">
                            <label class="checklist__label" for="item_{{ activePost.id }}">
                                <em class="checklist_icon fa fa-3x fa-check" id="item_{{ activePost.id }}"></em>
                            </label>

                            <div class="checklist__details">
                                <a href="/{{ activePost|link }}/">{{ activePost.title|raw }}</a>

                                {% include "_snippets/post/post_metadata_line.twig" with { post: activePost } %}
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    {% endfor %}
</div>

<br>
<br>
<br>
