---
layout: "_layouts/default.twig"
title: "Shorter than a Book, Deeper than a Post"
id: "clusters"

inspiration:
    - https://youtu.be/1HBNrwapfv0?t=1269: "Dusan Janovsky - Specialized micro-sites over general-posts-group"
---

{% block content %}
    <div class="container">
        <h1>{{ title|raw }}</h1>

        <div class="row">
            <div class="col-md-12">
                <p>
                    {{ "now"|date("Y") }} is the fastest year ever. More and more information and too little time to read books. We need:
                    <ul>
                        <li><strong>short and clear information</strong> for start,</li>
                        <li>but also <strong>deeper and connected sources</strong> to master complex topics</li>
                    </ul>
                </p>

                <p>
                    <em>Why books are dead and posts are outliers? Read in <a href=" /blog/2018/06/28/dont-read-books/">Don't read books</a> and <a href="/blog/2018/07/02/cluster-more-interactive-than-book-deeper-than-post/">Cluster: More Interactive than a Book, Deeper than a Post</a>.</em>
                </p>
            </div>
        </div>

        <hr>

        <h2>Pick a Cluster</h2>

        <ul class="list-unstyled">
            <li>
                Got only <strong>5 minutes in a subway?</strong> - Pick single post to learn a specific skill.
            </li>
            <li>
                Got more than <strong>30 minutes in the evening bed?</strong> - Read the whole cluster to master the topic.
            </li>
        </ul>

        <p>
            <em class="fa fa-check text-success"></em> Don't forget to tick it, so you know what posts you've finished.
        </p>

        {% for cluster in clusters %}
            <a name="{{ cluster.title | webalize }}"></a>
            <div class="card mb-5 mt-5">
                <div class="text-center card-header">
                    <h2 class="card-title">
                        <a href="#{{ cluster.title | webalize }}">
                            {{ cluster.title }}
                        </a>
                    </h2>

                    {% set totalReadingTime = 0 %}
                    {% for postId in cluster.post_ids %}
                        {% set totalReadingTime = totalReadingTime + posts[postId].getReadingTimeInMinutes %}
                    {% endfor %}

                    <ul class="list-inline post-metadata">
                        <li class="list-inline-item mr-3">
                            <em class="fa fa-calendar fa-fw"></em> {{ cluster.year_released }}
                        </li>
                        <li class="list-inline-item">
                            <em class="fa fa-clock-o fa-fw"></em> {{ totalReadingTime }} mins
                        </li>
                    </ul>

                    <p class="text-left pt-4 pb-2">{{ cluster.description }}</p>
                </div>
                <div class="card-body">
                    <ul class="mt-3 checklist line-separated">
                        {% for postId in cluster.post_ids %}
                            {% set activePost = posts[postId] %}
                            <li class="checklist__item">
                                <input class="checklist__input" type="checkbox" id="item_{{ activePost.id }}" value="{{ activePost.id }}">
                                <label class="checklist__label" for="item_{{ activePost.id }}">
                                    <em class="checklist_icon fa fa-3x fa-check" id="item_{{ activePost.id }}"></em>
                                </label>

                                <div class="checklist__details">
                                    <a href="/{{ activePost.relativeUrl }}/">{{ activePost.title | raw }}</a>

                                    {% include "_snippets/post/postMetadataLine.twig" with { post: activePost } %}
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        {% endfor %}
    </div>

    <br>
    <br>
    <br>
{% endblock %}
