---
layout: "_layouts/default.twig"
title: "PHP Lectures, Mentoring, Communities and Posts"
id: blog
---

<div class="container-fluid" id="blog">
    {% include "_snippets/future_talks.twig" %}
    {% include "_snippets/sponsor_button.twig" %}

    <div class="mt-5 mb-2 subline text-center">
        <p>
            Do you want to <strong>become lazy and pragmatic programmer</strong>?<br>
            Take dip of this blog or dive into <a href="/clusters/">deep clusters</a><br>
        </p>
    </div>

    <div class="row">
        {% set date_lines = [] %}

        {% set was_first_post_marked = false %}
        {% set displayedPostCount = 0 %}
        {% set currentYear = "now"|date('Y') %}

        {# display only last X posts, for DOM performance on mobile #}
        {% for post in posts %}
            {% if post.deprecated_since is not defined and displayedPostCount < post_homepage_limit %}
                {% set postYear = post.getDateInFormat('Y') %}

                {% if postYear != currentYear and postYear not in date_lines %}
                        <div class="col-md-12 yearLine mb-5 clearfix" id="year-{{ postYear }}">
                            <br>
                            <br>
                            {{ postYear }}
                            {# https://stackoverflow.com/a/9432583/1348344 #}
                            {% set date_lines = date_lines|merge({postYear: postYear}) %}
                        </div>
                    {% endif %}

                    {% set displayedPostCount = displayedPostCount + 1 %}

                    {% if loop.first %}
                        <article class="pt-2 pb-4 col-md-12">
                            <h2 class="firstPost text-center">
                                <a href="/{{ post|link }}/">
                                    {{ post.title|raw }}
                                </a>
                            </h2>

                            <div class="text-center">
                                {% include "_snippets/post/post_metadata_line.twig" with { post: post } %}
                            </div>

                            <p class="mt-3 text-left">{{ post.perex|raw }}</p>
                        </article>
                    {% else %}
                        {% if loop.index == 2 %}<ul class="mt-5 list-unstyled">{% endif %}
                        <li class="mb-3 col-md-12">
                            <a href="/{{ post|link }}/">{{ post.title|raw }}</a>
                            {% include "_snippets/post/post_metadata_line.twig" with { post: post } %}
                        </li>
                        <hr>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </ul>
    </div>

    <div class="row mb-3 mt-5">
        <div class="col-12">
            <div class="card mb-4">
                <div class="card-body">
                    <p>
                        This is the last {{ post_homepage_limit }} posts I wrote.
                        <strong>Haven't you find what you've been looking for?</strong>
                    </p>

                    <div class="row mt-3">
                        <div class="col-6">
                            <p>Type it here and hit enter...</p>

                            <div>
                                {% include "_snippets/search_form.twig" %}
                            </div>
                        </div>

                        <div class="col-6">
                            <p>...or explore the archives</p>

                            <ul>
                                {% for year in (currentYear-1)..2016 %}
                                    <li><a href="/archive/{{ year }}/">posts from {{ year }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
