---
layout: "_layouts/default.twig"
title: "PHP Lectures, Mentoring, Communities and Posts"
id: blog
---

{% block content %}
    <div class="container-fluid" id="blog">
        <div class="row pt-3 pb-3 hidden-sm-down" id="welcome">
            <div class="col-md-3">
                <img src="https://avatars2.githubusercontent.com/u/924196?s=460&v=4" class="rounded img-thumbnail">
            </div>

            <div class="col-md-9">
                <h1>Tomas Votruba</h1>
                <p>
                    I write for programmers who want to become <strong>more effective, creative and <a href="/mission/">happier</a></strong> while using full power of open-source.
                </p>

                <p class="pt-4">
                    <strong>Decide what I write about</strong> - go to <a href="https://github.com/TomasVotruba/tomasvotruba.cz/issues/">upvote ideas or add a new one</a>
                </p>
            </div>
        </div>

        <br>

        {{ block('searchRssAndTwitterPanel') }}

        {% set wasFirstPostMarked = false %}

        <div class="row">
            {% set dateLines = [] %}

            {% set displayedPostCount = 0 %}

            {% for post in posts %}
                {% set includePost = true %}

                {# is old url, do not display #}
                {% if post.redirect is defined %}
                    {% set includePost = false %}
                {% endif %}

                {# is deprecated post, do not display #}
                {% if post.deprecated is defined %}
                    {% set includePost = false %}
                {% endif %}

                {% if post.getDate|date("Y-m-d") > "now"|date("Y-m-d") %}
                    {% set includePost = false %}
                {% endif %}

                {% if includePost %}
                    {% set displayedPostCount = displayedPostCount + 1 %}

                    {% set postYear = post.getDateInFormat('Y') %}
                    {% set currentYear = "now"|date('Y') %}

                    {% if postYear != currentYear and dateLines.postYear is not defined %}
                        <div class="col-md-12 yearLine mb-5 clearfix" id="year-{{ postYear }}">
                            <br>
                            <br>
                            {{ postYear }}
                            {# https://stackoverflow.com/a/9432583/1348344 #}
                            {% set dateLines = dateLines|merge({postYear: postYear}) %}
                        </div>
                    {% endif %}

                    {% if displayedPostCount <= 3 %}
                        {% set colClass = wasFirstPostMarked ? 'col-md-6' : 'col-md-12' %}

                        <article class="text-left pt-2 pb-4 {{ colClass }}">
                            <h2 {% if wasFirstPostMarked == false %}class="firstPost"{% endif %}>
                                <a href="/{{ post.relativeUrl }}/">
                                    {{ post.title | raw }}
                                </a>
                            </h2>

                            {% include "_snippets/post/postMetadataLine.twig" with { post: post } %}

                            {% if wasFirstPostMarked == false %}
                                <p class="mt-3">{{ post.perex | raw }}</p>
                            {% endif %}

                            {% set wasFirstPostMarked = true %}
                        </article>
                    {% else %}
                        {% if displayedPostCount == 4 %}<ul class="mt-4 list-unstyled">{% endif %}
                        <li class="mb-3 col-md-12">
                            <a href="/{{ post.relativeUrl }}/">{{ post.title|raw }}</a>
                            {% include "_snippets/post/postMetadataLine.twig" with { post: post } %}
                        </li>
                        {% if loop.last == false %}<hr>{% endif %}
                        {% if loop.last %}</ul>{% endif %}
                    {% endif %}
                {% endif %}
            {% endfor %}
        </div>

        <br>


        <div class="text-center mt-4 mb-5">
            <p>
                <strong>Could not find post that was here before?</strong>
            </p>
            <p>
                See <a href="/deprecated-posts">deprecated posts</a>
                or <a href="/czech-posts">Czech posts</a>
            </p>
        </div>
    </div>
{% endblock %}


{% block searchRssAndTwitterPanel %}
    <div class="row text-center">
        <!-- inspired and taken from: https://github.com/yegor256/blog/blob/master/_layouts/default.html -->
        <form method="get" action="https://www.google.com/search" itemprop="potentialAction" itemscope="" itemtype="http://schema.org/SearchAction" n:syntax="off" class="col-md-5 col-sm-7 col-9 pull-left">
            <meta itemprop="target" content="https://www.google.com/search?q={q}"/>
            <input name="sitesearch" value="tomasvotruba.cz" type="hidden"/>
            <input itemprop="query-input" type="text" id="search-query" class="form-control" required="required" name="q" placeholder="Search with Google..." autocomplete="off"/>
        </form>

        <a href="/rss.xml" class="btn btn-warning btn-sm pt-2">
            <em class="fas fa-fw fa-rss"></em>
        </a>

        <a href="https://twitter.com/votrubaT" class="btn btn-primary btn-sm ml-3 pt-2">
            <em class="fab fa-fw fa-twitter"></em>
        </a>
    </div>
{% endblock %}
