---
layout: default
title: Začni se vzdělávat
generator: pagination
use:
    - posts
---

{% block content %}

<div class="portrait-box">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <header class="page-header text-center">
                    <h1>Chceš rozvíjet své dovednosti zadarmo?
                        {#<h1>Posunu tě v PHP i v životě</h1>#}
                        <br>
                        <a href="/zkus-si-mentoring" class="btn btn-success btn-lg mentor-action">
                            Přidej se k desítce mentorovaných
                            &nbsp;
                            {#<em class="fa fa-trophy fa-fw"></em>#}
                            <em class="fa fa-user-plus fa-fw"></em>
                        </a>
                    </h1>
                </header>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-7">
                <section class="portrait-text">

                    <p class="lead">
                        Ahoj, jmenuji se Tomáš Votruba.
                        <br>
                        <br>
                        <strong>Školím</strong> PHP (Symfony, Nette a Doctrine...)
                        <a href="{{ site.url }}/reference/#skoleni-pro-firmy">ve&nbsp;firmách</a> a
                        <a href="{{ site.url }}/reference/#konzultace-pro-jednotlivce">individuálně</a>,
                        dělám <strong>externí code-review</strong>, radím firmám jak psát <strong>trvale udržitelný
                            kód</strong> a <strong>efektivně hajrovat</strong>.
                    </p>

                    <p class="lead">
                        Díky <strong>studiu psychologie</strong> na <a href="http://psych.fss.muni.cz/">MUNI v
                        Brně</a> a <strong>koučovacímu výcviku</strong> <a href="http://www.gestaltessence.cz/">Gestalt Essence</a>
                        mi jde předávání znalostí stejně dobře jako programování.
                    </p>

                    <p class="lead">
                        Rád <strong>vytvářím lidem příležitosti</strong>, a proto se starám o <a href="http://www.pehapkari.cz">PHP komunitu</a> u nás.
                    </p>
                </section>
            </div>
            <div class="col-sm-5 portrait-image">
                <img src="/images/talking-big.jpg">
            </div>
        </div>
    </div>

    <div class="container" id="first-action-step">
        <div class="row">
            <div class="col-md-12">
                <div class="lead action-step text-center">
                    <p>
                        Máte zájem se posunout z místa a chcete s tím pomoc?
                    </p>
                    <p>
                        <a href="{{ site.url }}/kontakt" class="btn btn-lg btn-success">
                            Kontaktujte mě
                            &nbsp;
                            <em class="fa fa-comments fa-fw"></em>
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container page">
    <div class="row">
        <div class="col-md-7">
            <h2>
                <em class="fa fa-book fa-fw"></em>
                Taky rád píšu
            </h2>
            <p>Poslední dobou nejradši na o...</p>

            <ul>
                {% for post in data.posts | slice(0, 3) %}
                    <li>
                        <strong><a href="{{ post.url }}">{{ post.title }}</a></strong>
                    </li>
                {% endfor %}
            </ul>

            <p>
                Dalších {{ data.posts|length -3 }} článků na téma PHP, vzdělávání, open-source a komunity najdeš na
                <a href="/blog">na blogu</a>.
            </p>
        </div>

        <div class="col-md-5">
            <h2>
                <em class="fa fa-volume-up fa-fw"></em>
                Mám něco i pro tvé uši
            </h2>

            <p>
                S <a href="http://honzacerny.com/">Honzou Černým</a> natáčíme podcast o PHP komunitách a vzdělávání.
                <br>
                <br>
                <strong>Mrkni se na <a href="http://nejenophp.cz/">nejenophp.cz</a> a buď vzdělanější než konkurence</strong>
            </p>
        </div>
    </div>
</div>

<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    var disqus_shortname = '{{ site.disqus_shortname }}';

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function () {
        var s = document.createElement('script'); s.async = true;
        s.type = 'text/javascript';
        s.src = '//' + disqus_shortname + '.disqus.com/count.js';
        (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
    }());
</script>

{% endblock %}
