---
layout: default
title: Začni se vzdělávat
generator: pagination
use:
    - posts
---

{% block content %}

<div class="portrait-box">
    <div class="container">
        <div class="row">
            <header class="page-header text-center">
                <h1>Posunu vás v PHP i v životě</h1>
                <br>
            </header>
        </div>

        <div class="row">
            <div class="col-sm-7">
                <section class="portrait-text">

                    <p class="lead">
                        Ahoj, jmenuji se Tomáš Votruba.
                        <br>
                        <br>
                        <strong>Školím</strong> Symfony, Nette a Doctrine
                        <a href="{{ site.url }}/reference/#skoleni-pro-firmy">ve&nbsp;firmách</a> i
                        <a href="{{ site.url }}/reference/#konzultace-pro-jednotlivce">individuálně</a>,
                        dělám <strong>externí code-review</strong> a radím firmám jak psát <strong>trvale udržitelný kód</strong>.
                    </p>

                    <p class="lead">
                        Díky <strong>studiu psychologie</strong> na <a href="http://psych.fss.muni.cz/">FSS MUNI</a> a <strong>koučovacímu výcviku</strong> <a href="http://www.gestaltessence.cz/">Gestalt Essence</a>
                        mi jde předávání znalostí stejně dobře jako programování.
                    </p>

                    <p class="lead">
                        A protože <strong>mám rád lidi</strong>, tak ve volném čase pomáhám rozvíjet <a href="http://www.symfony.cz">Symfony komunitu</a> u nás.
                    </p>
                </section>
            </div>
            <div class="col-sm-5 portrait-image">
                <img src="{{ site.url }}/images/talking-big.jpg">
            </div>
        </div>
    </div>

    <div class="container" id="first-action-step">
        <div class="row">
            <div class="col-md-12">
                <div class="lead action-step text-center">
                    <p>
                        Máte zájem se posunout z místa a chcete s tím pomoc?
                    </p>
                    <p>
                        <a href="{{ site.url }}/kontakt" class="btn btn-lg btn-success">
                            Kontaktujte mě
                            &nbsp;
                            <em class="fa fa-comments fa-fw"></em>
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container page">
    <div class="row">
        <div class="col-md-12">
            <h2>
                <em class="fa fa-book fa-fw"></em>
                &nbsp;
                Taky rád píšu
            </h2>
            <p>Poslední dobou nejradši na o...</p>

            <ul>
                {% for post in data.posts | slice(0, 3) %}
                    <li>
                        <strong><a href="{{ post.url }}">{{ post.title }}</a></strong>
                    </li>
                {% endfor %}
            </ul>

            <br>

            <p>
                Dalších {{ data.posts|length -3 }} článků na téma PHP, vzdělávání, open-source a komunity najdeš na blogu.
                <br>
                <a href="/blog">Mrkni se tam!</a>
            </p>

        </div>
    </div>
</div>

<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    var disqus_shortname = '{{ site.disqus_shortname }}';

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function () {
        var s = document.createElement('script'); s.async = true;
        s.type = 'text/javascript';
        s.src = '//' + disqus_shortname + '.disqus.com/count.js';
        (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
    }());
</script>

{% endblock %}
