---
layout: "_layouts/default.twig"
title: "PHP Lectures, Mentoring, Communities and Posts"
id: blog
---

<div class="container-fluid" id="blog">
    {% include "_snippets/future_talks.twig" %}


    <div class="container">
        <div class="alert alert-success mt-4 mb-3">
            <p class="text-center mt-2 mb-3 bigger">
                <strong>We need you!</strong>
            </p>

            <p>
                We're working on a service, that will run Rector on your all repositories and all PRs on per-commits basis - <a href="https://rector-ci.org/">Rector CI</a>.
                <br>
                <br>
                <strong>Do you want to try it? <a href="https://getrector.org/contact/">Write us to get into private beta</a>.</strong>
            </p>
        </div>
    </div>


    <div class="mt-3 mb-2 subline text-center">
        <p>
            Do you want to <strong>become lazy and pragmatic programmer</strong>?<br>
            Take dose of this blog once a week<br>
        </p>
    </div>

    <div class="row">
        {% set date_lines = [] %}

        {% set was_first_post_marked = false %}
        {% set displayedPostCount = 0 %}
        {% set currentYear = "now"|date('Y') %}

        {# display only last X posts, for DOM performance on mobile #}
        {% for post in posts if post.deprecated_since is not defined and displayedPostCount < post_homepage_limit %}
            {% set postYear = post.getDateInFormat('Y') %}

            {% if postYear != currentYear and postYear not in date_lines %}
                    <div class="col-md-12 yearLine mb-5 clearfix" id="year-{{ postYear }}">
                        <br>
                        <br>
                        {{ postYear }}
                        {# https://stackoverflow.com/a/9432583/1348344 #}
                        {% set date_lines = date_lines|merge({postYear: postYear}) %}
                    </div>
                {% endif %}

                {% set displayedPostCount = displayedPostCount + 1 %}

                {% if loop.first %}
                    <article class="pt-2 pb-4 col-md-12">
                        <h2 class="firstPost text-center">
                            <a href="/{{ post|link }}/">
                                {{ post.title|raw }}
                            </a>
                        </h2>

                        <div class="text-center">
                            {% include "_snippets/post/post_metadata_line.twig" with { post: post } %}
                        </div>

                        <p class="mt-3 text-left">{{ post.perex|raw }}</p>
                    </article>
                {% else %}
                    {% if loop.index == 2 %}<ul class="mt-5 list-unstyled">{% endif %}
                    <li class="mb-3 col-md-12">
                        <a href="/{{ post|link }}/">{{ post.title|raw }}</a>
                        {% include "_snippets/post/post_metadata_line.twig" with { post: post } %}
                    </li>
                    <hr>
                {% endif %}
            {% endfor %}
        </ul>
    </div>

    <div class="row mb-3 mt-5">
        <div class="col-12 col-md-6">
            <div class="card mb-4">
                <div class="card-body">
                    <p>
                        This is the last {{ post_homepage_limit }} posts.
                        <strong>Do you look for something specific?</strong>
                    </p>

                    <p>Use <a href="#">search</a> in top right menu or archives:</p>

                    <ul>
                        {% for year in (currentYear-1)..2016 %}
                            <li><a href="/archive/{{ year }}">posts from {{ year }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-6">
            <div class="card mb-4">
                <div class="card-body">
                    <p>
                        <strong>Can't you find the post that was here before?</strong>
                    </p>

                    <ul>
                        <li><a href="/deprecated-posts">Deprecated posts</a></li>
                        <li><a href="/czech-posts">Czech posts</a></li>
                    </ul>

                    <p>There is also list of <a href="/updated-posts">recently updated posts</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
