---
layout: "_layouts/default.twig"
title: "The Mission"
id: mission
---

{% block content %}
    <div class="container" id="mission">
        {#<h1>{{ title }}</h1>#}

        <h1 class="text-center mb-4">
            <em class="fas fa-lg fa-heart"></em>
            &nbsp;
            <em class="fas fa-lg fa-code mb-4"></em>
            <br>
            1. I help Programmers to be Happier
        </h1>

        <p class="bigger mb-4">
            Learn faster, earn better money and work on projects that are meaningful to you.
            <br>
            I help programmers to unlock their inner powers, start believing in themselves and becoming 200 % productive with less wasted energy.
        </p>

        <p>I can help you with anything <a href="/">I write about</a>. Symfony, Nette, Doctrine, PHP CLI, team mentorings, coding standards, migration of legacy code to a framework, instant upgrades and open-sourcing private code.</p>

        <h3 class="text-center mb-4">Long-term Education that Won't Allow You to Forget</h3>

        <div class="row text-center mt-4 mb-4">
            <div class="col-md-6">
                <em class="fas fa-calendar-alt fa-fw"></em>
                1-2 days lectures that is followed by
            </div>
            <div class="col-md-6">
                <em class="fas fa-hourglass-start fa-fw"></em>
                60-minute mentorings & code-reviews
            </div>
        </div>

        <br>

        <h3 class="text-center mb-4">Just Pick a Topic you Want to Learn</h3>

        <div class="card card-mb-5 mt-2">
            <div class="card-header text-center">
                <h2 class="card-title">
                    <img src="/assets/images/skills/symfony.png" class="col-md-4 col-sm-6 col-6 pt-2">
                </h2>

                <ul class="list-inline post-metadata mt-4">
                    <li class="list-inline-item mr-3">
                        <em class="fas fa-brain fa-fw"></em>
                        <strong>{{ "now"|date('Y')-2014 }} years</strong> of distilled experience
                    </li>
                    <li class="list-inline-item">
                        <em class="fas fa-rocket fa-fw"></em>
                        PHP MVC Framework
                    </li>
                </ul>
            </div>
            <div class="card-body">
                <p>We'll focus exactly on your project's level and how to integrate Symfony there.</p>

                <ul class="mt-4">
                    <li><strong>Request & Response</strong> life cycle, <strong>Controllers</strong> - <code>_invoke</code>able</li>
                    <li><strong>Twig</strong> templating system</li>
                    <li><strong>Dependency Injection</strong>, services, <code>_defaults</code>, <a href="/blog/2017/05/07/how-to-refactor-to-new-dependency-injection-features-in-symfony-3-3/">PSR-4 service auto-discovery</a> and more</li>
                    <li><a href="https://pehapkari.cz/blog/2016/12/05/symfony-event-dispatcher/"><strong>EventDispatcher</strong></a>, <strong>Commands</strong> and all the other Symfony features.</li>
                </ul>
            </div>
        </div>

        <div class="card">
            <div class="card-header text-center">
                <h2 class="card-title">
                    <img src="/assets/images/skills/nette.png" class="col-md-4 col-sm-6 col-6 pt-2">
                </h2>

                <ul class="list-inline post-metadata mt-4">
                    <li class="list-inline-item mr-3">
                        <em class="fas fa-brain fa-fw"></em>
                        <strong>{{ "now"|date('Y')-2010 }} years</strong> of distilled experience
                    </li>
                    <li class="list-inline-item">
                        <em class="fas fa-rocket fa-fw"></em>
                        PHP MVC Framework
                    </li>
                </ul>
            </div>
            <div class="card-body">
                <p>You'll understand strong features of the framework and in the end of lecture you'll be able to build application on last version.</p>

                <ul class="mt-4">
                    <li>Routing, life cycle of Presenter and Components</li>
                    <li>Configuration with NEON, powerful <strong>Dependency Injection</strong> and <strong><a href="/blog/2017/02/15/minimalistic-way-to-create-your-first-nette-extension/">own  extension</a></strong></li>
                    <li><strong>Latte</strong> templating and all other Nette pilars.</li>
                </ul>
            </div>
        </div>

        <div class="card">
            <div class="card-header text-center">
                <h2 class="card-title">
                    <em class="fas fa-chart-line"></em>
                    &nbsp;
                    How to write Clean Code in Complex Systems
                </h2>
            </div>
            <div class="card-body">
                <ul>
                    <li>How to <strong>refactor legacy code</strong></li>
                    <li><strong>SOLID principals</strong> and <strong>design patterns</strong> in real life <strong>examples</strong></li>
                    <li>How to <strong>save time with static analysis</strong>: <a href="/blog/2017/08/07/7-new-features-in-easy-coding-standard-22/">EasyCodingStandard</a></li>
                </ul>
            </div>
        </div>

        <div class="card">
            <div class="card-header text-center">
                <h2 class="card-title">
                    <em class="fas fa-dollar-sign"></em>
                    &nbsp;
                    Level up your Career
                </h2>
            </div>
            <div class="card-body">
                <ul>
                    <li>What are the <strong>most effective strategies</strong> to find a job you desire</li>
                    <li>How to <strong>sell your top skill</strong></li>
                    <li>How <strong>master negotiation</strong> with your employer</li>
                </ul>
            </div>
        </div>

        <div class="card">
            <div class="card-header text-center">
                <h2 class="card-title">
                    <em class="fab fa-osi fa-fw"></em>
                    Get the best out of Open-Source for your Project
                </h2>
            </div>
            <div class="card-body">
                <ul>
                    <li><a href="https://leanpub.com/principles-of-package-design">Package design principles</a> and <a href="http://phppackagechecklist.com/#1,2,3,4,5,6,7,8,9,10,11,12,13,14">useful PHP standards</a></li>
                    <li>How to approach versioning, <strong><a href="/blog/2017/02/07/how-to-decouple-monolith-like-a-boss-with-composer-local-packages/">local packages</a> and use <a href="/blog/2017/01/31/how-monolithic-repository-in-open-source-saved-my-laziness/">power of monorepo</a></strong></li>
                    <li><a href="https://travis-ci.org/">Travis</a>, <a href="https://phpunit.de/">PHPUnit</a>, <strong>testing</strong> and code coverage</li>
                </ul>
            </div>
        </div>

        <br>

        <h3 class="text-center pb-3">Don't take My Word for it - Ask Happy clients</h3>

        <div class="text-center row mt-3 mb-3">
            {% for logo, url in helped_companies %}
                <div class="align-self-center col-md-2 col-sm-4 col-4 border-0 pt-md-0 pb-md-0 pt-2 pb-2">
                    <a href="{{ url }}">
                        <img src="/assets/images/references/{{ logo }}">
                    </a>
                </div>
            {% endfor %}
        </div>

        <p class="text-center mt-5">
            <em>Do you want to join them?</em>
        </p>
        <p class="text-center">
            <a href="/contact/" class="btn btn-success mt-2 mb-2">
                &nbsp;Write me
                <em class="fas fa-arrow-circle-right fa-fw"></em>
            </a>
        </p>

        <hr>

        <br>
        <br>

        <h1 class="text-center mb-4">
            <em class="fas fa-lg fa-handshake"></em>
            &nbsp;
            <em class="fas fa-lg fa-globe mb-4"></em>
            <br>
            2. I help the World to Enjoy Cooperation
        </h1>

        <p class="bigger mb-4">
            To openly share know-how on meetups and code as open-source, so we can all build on each other work and help each other.
            <br>
            I believe the main value in knowledge is <strong>to share it in way most people can understand</strong>.
        </p>

        <ul>
            <li>
                It's <strong>amazing what group of friendly people can do when they connect and share they ideas</strong> on regular basis. That's the main purporse of <a href="https://pehapkari.cz">Péhápkaři.cz</a> - a Friends of PHP in Czech Republic and Slovakia
            </li>
            <li>
                I guide <strong>private projects to open-source</strong>, currently at <a href="https://shopsys.com/">Shopsys</a>
            </li>
            <li>
                I help Czech open-source companies to be seen at <a href="https://ceskyopensource.cz">CeskyOpenSource.cz</a>
            </li>
        </ul>

        <br>

        <p class="text-center mt-5">
            <em>Do you want to become part of my mission?</em>
        </p>
        <p class="text-center">
            <a href="/contact/" class="btn btn-success mt-2 mb-2">
                &nbsp;Write me
                <em class="fas fa-arrow-circle-right fa-fw"></em>
            </a>
        </p>
    </div>
{% endblock %}
