---
layout: "_layouts/default.twig"
title: "Package Monthly Downloads by Version"
id: "trends_adoption"
---

{# local macros must be imported, then use like "{{ macros.<X>() }}" #}
{% import "_snippets/macros/trends_macros.twig" as macros %}

<div class="container-fluid" id="blog">
    {% include "_snippets/stats/stats_menu.twig" %}

    <h1>{{ title }}</h1>

    <p class="text-muted mb-4 small">Updated at {{ vendor_packages_by_version.updated_at|date('j. n.') }}</p>

    <div class="text-center">
        <h3 class="mb-4">Jump to framework</h3>

        <div class="mb-4">
            {% for framework in vendor_packages_by_version.vendors %}
                <a href="#{{ framework.name|webalize }}" class="btn btn-warning mr-2 mb-3">{{ framework.name }} ↓</a>
            {% endfor %}
        </div>
    </div>

    <br>

    <p>
        Frameworks are sorted alphabetically. Packages in them are <strong>sorted by adoption rate</strong>, from higher to lower. That way the most easily adopted packages are on the top and those hard to upgrade on the bottom.
    </p>

    {% for framework in vendor_packages_by_version.vendors %}
        <hr>

        <div class="text-center mb-5">
            <h2 id="{{ framework.name|webalize }}">
                {{ framework.name }}
            </h2>

            <p>
                <a href="#">Jump up ↑</a>
            </p>
        </div>

        {% for package_data in framework.packages_data %}
            <table class="table table-bordered mt-4 mt-4">
                <thead class="thead-inverse">
                    <tr>
                        <th colspan="2" class="text-center" id="{{ package_data.package_name|webalize }}">
                            <a href="#{{ package_data.package_name|webalize }}">
                                {{ package_data.package_name }}
                            </a>
                        </th>
                    </tr>
                </thead>

                {% for version, number in package_data.downloads_minor %}
                    <tr>
                        <td class="w-50">
                            {{ version }}

                            {% if package_data.version_publish_dates[version] is defined %}
                                <span class="lesser">
                                    {{ package_data.version_publish_dates[version] }}
                                </span>
                            {% endif %}
                        </td>
                        <td class="w-50 text-right">
                            {% if loop.first and package_data.adoption_rate < 100 %}
                                <div class="float-left">
                                    {{ macros.adoption(package_data.adoption_rate) }}
                                </div>
                            {% endif %}

                            <nobr>{{ macros.number(number) }}</nobr>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        {% endfor %}
    {% endfor %}

    <h2 class="mb-4">Methodology</h2>

    <p>
        Data are provided by packagist API from monthly average downloads, e.g. <a href="https://packagist.org/packages/rector/rector/downloads.json">https://packagist.org/packages/rector/rector/downloads.json</a>
    </p>

    <ul>
        <li>package with less 500 downloads a day are excluded</li>
        <li><code>dev-*</code>, <code>RC</code>, <code>alpha</code>, <code>beta</code> and similar packages are excluded, only valid stable Semver tags are used</li>
        <li>packages with only 1 minor version left are excluded, there's no adoption information to compare</li>
    </ul>

    <h2 id="comments">What Do You Think?</h2>

    {% include "_snippets/disqus_comments.twig" %}
</div>
