---
layout: "_layouts/default.twig"
title: "Package Monthly Downloads by Version"
---

{% macro number(value) %}
    {{ value|number_format(0, ',', ' ') }}
{% endmacro %}

{# local macros must be imported, then use like "{{ macros.<X>() }}" #}
{% import _self as macros %}

<div class="container-fluid" id="blog">
    <h1>{{ title }}</h1>

    <p class="text-muted mb-4 small">Updated at {{ vendor_packages_by_version.updated_at|date('j. n. H:i') }}</p>

    <p>Jump to framework</p>
    <ul>
        {% for framework in vendor_packages_by_version.vendors %}
            <li><a href="#{{ framework.name|webalize }}">{{ framework.name }}</a></li>
        {% endfor %}
    </ul>

    {% for framework in vendor_packages_by_version.vendors %}
        <table class="table table-bordered mt-4 mt-4" id="{{ framework.name|webalize }}">
            <thead class="thead-inverse">
                <tr>
                    <th colspan="4" class="text-center">
                        <h3>{{ framework.name }}</h3>
                        <a href="#">Jump up</a>
                    </th>
                </tr>
            </thead>

            {% for package_data in framework.packages_data %}
                <tr>
                    <th colspan="2" class="text-center bg-primary text-white">{{ package_data.package_name }}</th>
                </tr>

                {# is major different from minor? #}
                {% if package_data.downloads_minor|length > package_data.downloads_major|length %}
                    <tr>
                        <th colspan="2" class="bg-primary text-white">Grouped by major version</th>
                    </tr>

                    {% for version, number in package_data.downloads_major %}
                        <tr>
                            <td class="w-50">{{ version }}</td>
                            <td class="w-50 text-right">{{ macros.number(number) }}</td>
                        </tr>
                    {% endfor %}
                {% endif %}

                <tr>
                    <th colspan="2" class="bg-primary text-white">
                        Grouped by minor version
                    </th>
                </tr>

                {% for version, number in package_data.downloads_minor %}
                    <tr>
                        <td class="w-50">{{ version }}</td>
                        <td class="w-50 text-right">{{ macros.number(number) }}</td>
                    </tr>
                {% endfor %}
            {% endfor %}
        </table>

        <h2>Methodology</h2>

        <p>
            Data are provided by packagist API from monthly average downloads, e.g. <a href="https://packagist.org/packages/rector/rector/downloads.json">https://packagist.org/packages/rector/rector/downloads.json</a>
        </p>

        <ul>
            <li>package with less 500 downloads a day are excluded</li>
            <li>dev, RC, alpha, beta... packages are released, only valid semver tags are used</li>
        </ul>

    {% endfor %}
</div>
