---
layout: "_layouts/default.twig"
title: "PHP Framework Trends"
id: trends
---

{# local macros must be imported, then use like "{{ macros.<X>() }}" #}
{% import "_snippets/macros/trends_macros.twig" as macros %}

<div class="container-fluid">
    <div class="alert alert-sm alert-info mt-3">
        Check <a href="/package-downloads-by-version/">Package downloads by version + Adoption</a>
        and <a href="/testing-packages/">Testing packages</a>
    </div>

    <h1>{{ title }}</h1>

    <p>
        <a href="/{{ posts[202]|link }}/">Why was this table created?</a>
    <p>

    <p>
        The goal of this table is to get from feelings and opinions of single influencers <strong>to numbers and results in active community</strong>.
    </p>

    <p>
        <strong>The absolute numbers show the success in history, the trends show success in recent times</strong>. There is no clear formula to say what combination or number is the best - it's up to you. Often the packages are sort by absolute numbers, which show always the same single one framework, so this table is sort by trends.</p>

    <p>Is some package missing? Good catch! Read about <a href="#methodology">methodology limits</a> to found out why. Also, <strong>this is work of PHP community</strong>, so if you have idea how to improve this and make it more objective, drop me a <a href="#comments">comment</a>.</p>

    <p class="text-muted mb-4 small">Updated at {{ php_framework_trends.updated_at|date('j. n. H:i') }}</p>

    <div class="alert alert-sm alert-warning mt-3 mb-4">
        <code>symfony/*</code> downloads are cleared from <code>laravel/*</code> downloads. 1 download of Laravel packages = 0 downloads of Symfony packages. <strong>See <a href="https://github.com/TomasVotruba/tomasvotruba.cz/blob/master/src/Packagist/Purifier/InterveningPackagesPurifier.php#L17">full list of packages cleared this way</a></strong>.
    </div>

    <table class="table table-bordered table-responsive table-striped" id="table">
        <thead class="thead-inverse">
            <tr>
                <th class="text-center w-25 align-middle">Framework</th>
                <th class="text-center w-25">Year Trend</th>
                <th class="text-center w-25">Monthly Average</th>
                <th class="text-center w-25">Yearly Total</th>
            </tr>
        </thead>

        {% for framework in php_framework_trends.vendors %}
            <tr>
                <td>
                    <a href="#{{ framework.name|webalize }}">{{ framework.name }}</a>
                </td>
                <td class="text-right text-nowrap">
                    {{ macros.trend(framework.average_last_year_trend) }}
                </td>
                <td class="text-right text-nowrap">
                    {{ macros.number(framework.vendor_total_last_month) }}
                </td>
                <td class="text-right text-nowrap">
                    {{ macros.number(framework.vendor_total_last_year) }}
                </td>

            </tr>
        {% endfor %}
    </table>

    <br>

    {% for framework in php_framework_trends.vendors %}
        <hr>

        <div class="text-center mb-5">
            <h2 id="{{ framework.name|webalize }}">
                {{ framework.name }}
            </h2>

            <p>
                <a href="#table">Jump up ↑</a>
            </p>
        </div>

        <table class="table table-bordered mt-4 mt-4" id="{{ framework.name|webalize }}">
            <thead class="thead-inverse">
                <tr>
                    <th class="w-25">Package</th>
                    <th class="text-center w-25">
                        Trend Last Year
                    </th>
                    <th class="text-center w-25">
                        Last month Daily
                    </th>
                    <th class="text-center w-25">
                        Total Last Year
                    </th>
                </tr>
            </thead>
            {% for package in framework.packages_data %}
                <tr>
                    <td>
                        <a href="https://packagist.org/packages/{{ package.package_name }}/stats">
                            {{ package.package_short_name }}
                        </a>
                    </td>
                    <td class="text-right text-nowrap">{{ macros.trend(package.last_year_trend) }}</td>
                    <td class="text-right text-nowrap">{{ macros.number(package.last_month_average_daily_downloads) }}</td>
                    <td class="text-right text-nowrap">{{ macros.number(package.last_year_total) }}</td>
                </tr>
            {% endfor %}
        </table>
    {% endfor %}

    <h2 class="mb-4" id="methodology">Methodology Notes</h2>

    <p>Few outlier packages were removed to make numbers more relevant. To be specific:</p>

    <ul>
        <li><code>symfony/*</code> downloads are cleared from <code>laravel/*</code> downloads = when you download Laravel package, it will not count into Symfony download; see <a href="https://github.com/TomasVotruba/tomasvotruba.cz/blob/master/src/Packagist/Purifier/InterveningPackagesPurifier.php#L17">full list of cleared packages</a></li>

        <li>
            packages with <strong>less than 1000 downloads daily</strong> - not relevant compared in this scale

            <ul>
                <li>this limit was not passed by CodeIgniter, so it's excluded for now</li>
            </ul>
        </li>
        <li>packages with <strong>history shorter than 12 months</strong> - they created extreme trends</li>
        <li>packages with <strong>year trend bigger than 300 %</strong> - they're caused either by "hype" effect, that distorted average vendor trend, or by new interdependency</li>
        <li><code>phpstan/phpstan</code> and <code>friendsofphp/php-cs-fixer</code> downloads are cleaned from statistics to prevent miss-leading numbers</li>
    </ul>

    <br>

    <h2 class="mb-4">Thank You</h2>

    <ul class="normal-list">
        <li>Thanks to <a href="https://github.com/jkuchar">Jan Kuchar</a> for CI tools exclusion idea that made the numbers more relevant.</li>
        <li>Thanks to <a href="https://github.com/garas">Edgaras Janušauskas</a> for correction of cakephp extreme trends.</li>
        <li>
            This overview is build thanks to amazing intuitive <a href="https://packagist.org/apidoc">Packagist API</a> - thanks Jordi Boggiano and Nils Adermann for creating it.
        </li>
    </ul>



    <h2 id="comments">What Do You Think?</h2>

    {% include "_snippets/disqus_comments.twig" %}
</div>
