---
layout: "_layouts/default.twig"
title: "PHP Framework Trends"
id: trends
---

{# local macros must be imported, then use like "{{ macros.<X>() }}" #}
{% import "_snippets/macros/trends_macros.twig" as macros %}

<div class="container-fluid">
    <div class="alert alert-sm alert-info mt-3">
        Looking for <a href="/package-downloads-by-version/">Package downloads by version</a>
        or <a href="/testing-packages/">Testing packages</a>?
    </div>

    <h1>{{ title }}</h1>

    <p>
        <a href="/{{ posts[202]|link }}/">Why was this table created?</a>
    <p>

    <p>
        The goal of this table is to get from feelings and opinions of single influencers <strong>to numbers and results in active community</strong>.
    </p>

    <p>
        <strong>The absolute numbers show the success in history, the trends show success in recent times</strong>. There is no clear formula to say what combination or number is the best - it's up to you. Often the packages are sort by absolute numbers, which show always the same single one framework, so this table is sort by trends.</p>

    <p>Is some package missing? Good catch! Read about <a href="#methodology">methodology limits</a> to found out why. Also, <strong>this is work of PHP community</strong>, so if you have idea how to improve this and make it more objective, drop me a <a href="#comments">comment</a>.</p>

    <p class="text-muted mb-4 small">Updated at {{ php_framework_trends.updated_at|date('j. n. H:i') }}</p>

    <table class="table table-bordered table-responsive table-striped">
        <thead class="thead-inverse">
            <tr>
                <th class="text-center w-25">
                    Framework
                </th>
                <th class="text-center w-25">Year Trend</th>
                <th class="text-center w-25">Monthly Average</th>
                <th class="text-center w-25">Yearly Total</th>
            </tr>
        </thead>

        {% for framework in php_framework_trends.vendors %}
            <tr>
                <th>
                    {{ framework.name }}
                    <span class="text-muted">
                        <small>
                            <a href="#{{ framework.name|webalize }}">Jump to packages ↓</a>
                        </small>
                    </span>
                </th>
                <td class="text-right">
                    {{ macros.trend(framework.average_last_year_trend) }}
                </td>
                <td class="text-right">
                    {{ macros.number(framework.vendor_total_last_month) }}
                </td>
                <td class="text-right">
                    {{ macros.number(framework.vendor_total_last_year) }}
                </td>

            </tr>
        {% endfor %}
    </table>

    <br>

    {% for framework in php_framework_trends.vendors %}
        <table class="table table-bordered mt-4 mt-4" id="{{ framework.name|webalize }}">
            <thead class="thead-inverse">
                <tr>
                    <th colspan="4" class="text-center">
                        <h3>{{ framework.name }}</h3>
                    </th>
                </tr>
                <tr>
                    <th class="w-25">Package</th>
                    <th class="text-center w-25">
                        Trend Last Year
                    </th>
                    <th class="text-center w-25">
                        Last month Daily
                    </th>
                    <th class="text-center w-25">
                        Total Last Year
                    </th>
                </tr>
            </thead>
            {% for package in framework.packages_data %}
                <tr>
                    <td>
                        <a href="https://packagist.org/packages/{{ package.package_name }}/stats">
                            {{ package.package_short_name }}
                        </a>
                    </td>
                    <td class="text-right">{{ macros.trend(package.last_year_trend) }}</td>
                    <td class="text-right">{{ macros.number(package.last_month_average_daily_downloads) }}</td>
                    <td class="text-right">{{ macros.number(package.last_year_total) }}</td>
                </tr>
            {% endfor %}
        </table>
    {% endfor %}

    <h2 class="mb-4" id="methodology">Methodology Notes</h2>

    <p>Few outlier packages were removed to make numbers more relevant. To be specific:</p>

    <ul>
        <li>
            packages with <strong>less than 1000 downloads daily</strong> - not relevant compared in this scale

            <ul>
                <li>this limit was not passed by CodeIgniter, so it's excluded for now</li>
            </ul>
        </li>
        <li>packages with <strong>history shorter than 12 months</strong> - they created extreme trends</li>
        <li>packages with <strong>year trend bigger than 300 %</strong> - they're caused either by "hype" effect, that distorted average vendor trend, or by new interdependency</li>
        <li><code>phpstan/phpstan</code> and <code>friendsofphp/php-cs-fixer</code> downloads are cleaned from statistics to prevent miss-leading numbers</li>
    </ul>

    <br>

    <p>
        Thanks to <a href="https://github.com/jkuchar">Jan Kuchar</a> for CI tools exclusion idea that made the numbers more relevant.
        This overview is build thanks to amazing intuitive <a href="https://packagist.org/apidoc">Packagist API</a>.
    </p>

    <h2 id="comments">What Do You Think?</h2>

    {% include "_snippets/disqus_comments.twig" %}
</div>
