---
layout: "_layouts/default.twig"
title: "PHP Framework Trends"
id: "trends"
---

{# local macros must be imported, then use like "{{ macros.<X>() }}" #}
{% import "_snippets/macros/trends_macros.twig" as macros %}

<div class="container-fluid">
    {% include "_snippets/stats/stats_menu.twig" %}

    <h1>{{ title }}</h1>

    <p class="text-muted mb-4 small">Updated at {{ php_framework_trends.updated_at|date('j. n.') }}</p>

    <p>
        <a href="/{{ posts[202]|link }}/">Why was this table created?</a>
    <p>

    <p>
        The goal of this table is to get from feelings and opinions of single influencers <strong>to numbers and results in active community</strong>.
    </p>

    <div class="alert alert-sm alert-warning mt-3 mb-4">
        <code>symfony/*</code> downloads are cleared from <code>laravel/*</code> downloads. 1 download of Laravel packages = 0 downloads of Symfony packages. <strong>See <a href="https://github.com/TomasVotruba/tomasvotruba.cz/blob/88cd6f3c8ae14ec9770f38bfea6300f88089def7/src/Packagist/Purifier/InterveningPackagesPurifier.php#L17">full list of packages cleared this way</a></strong>.
    </div>

    <table class="table table-bordered table-responsive table-striped sortable_table" id="main_table">
        <thead class="thead-inverse">
            <tr>
                <th class="text-center w-25 align-middle">Framework</th>
                <th class="text-center w-25 align-middle">Year Trend</th>
                <th class="text-center w-25 align-middle">Last 12 Months</th>
                <th class="text-center w-25 align-middle">Previous 12 Months</th>
            </tr>
        </thead>

        {% for framework in php_framework_trends.vendors %}
            <tr>
                <td>
                    <a href="#{{ framework.name|webalize }}">{{ framework.name }}</a>
                </td>
                <td class="text-right text-nowrap" data-order="{{ framework.average_last_year_trend }}">
                    {{ macros.trend(framework.average_last_year_trend) }}
                </td>
                <td class="text-right text-nowrap" data-order="{{ framework.vendor_total_last_year }}">
                    {{ macros.number(framework.vendor_total_last_year) }}
                </td>
                <td class="text-right text-nowrap" data-order="{{ framework.vendor_total_previous_year }}">
                    {{ macros.number(framework.vendor_total_previous_year) }}
                </td>
            </tr>
        {% endfor %}
    </table>

    <br>

    {% for framework in php_framework_trends.vendors %}
        <hr>

        <div class="text-center mb-5">
            <h2 id="{{ framework.name|webalize }}">{{ framework.name }}</h2>

            <p>
                <a href="#main_table">Jump up ↑</a>
            </p>
        </div>

        <table class="table table-bordered table-responsive table-striped mt-4 mt-4 sortable_table" id="{{ framework.name|webalize }}">
            <thead class="thead-inverse">
                <tr>
                    <th class="text-center w-25 align-middle">Package</th>
                    <th class="text-center w-25 align-middle">Year Trend</th>
                    <th class="text-center w-25 align-middle">Last 12 Months</th>
                    <th class="text-center w-25 align-middle">Previous 12 Months</th>
                </tr>
            </thead>
            {% for package in framework.packages_data %}
                <tr>
                    <td>
                        <a href="https://packagist.org/packages/{{ package.package_name }}/stats">
                            {{ package.package_short_name }}
                        </a>
                    </td>
                    <td class="text-right text-nowrap" data-order="{{ package.last_year_trend }}">{{ macros.trend(package.last_year_trend) }}</td>
                    <td class="text-right text-nowrap" data-order="{{ package.last_year_total }}">{{ macros.number(package.last_year_total) }}</td>
                    <td class="text-right text-nowrap" data-order="{{ package.previous_year_total }}">{{ macros.number(package.previous_year_total) }}</td>
                </tr>
            {% endfor %}
        </table>
    {% endfor %}

    <h2 class="mb-4" id="methodology">Methodology Notes</h2>

    <p>Few outlier packages were removed to make numbers more relevant. To be specific:</p>

    <ul>
        <li><code>symfony/*</code> downloads are cleared from <code>laravel/*</code> downloads = when you download Laravel package, it will not count into Symfony download; see <a href="https://github.com/TomasVotruba/tomasvotruba.cz/blob/master/src/Packagist/Purifier/InterveningPackagesPurifier.php#L17">full list of cleared packages</a></li>

        <li>
            packages with <strong>less than 1000 downloads daily</strong> - not relevant compared in this scale
        </li>
        <li>packages with <strong>history shorter than 24 months</strong> - we need exactly 24 months to compute stable trend</li>
        <li>packages with <strong>year trend bigger than 300 %</strong> - they're caused by new interdependency from another framework's package that is already popular</li>
    </ul>

    <br>

    <p><strong>Thanks</strong> to <a href="https://github.com/jkuchar">Jan Kuchar</a> and <a href="https://github.com/garas">Edgaras Janušauskas</a> for extreme corrections. Also this
            overview would not be possible without <a href="https://packagist.org/apidoc">Packagist API</a> built by Jordi Boggiano and Nils Adermann.
    </p>

    <h2 id="comments">What Do You Think?</h2>

    {% include "_snippets/disqus_comments.twig" %}
</div>

{# sortable tables #}
<link href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css" rel="stylesheet"/>
