---
layout: default
title: Naučím vás přesně to, co právě potřebujete
id: skills
---
<div class="container">
    <div class="page">
        <div class="main" id="references">
            <header class="page-header text-center">
                <h1>{{ page.title }}</h1>
                <br>
            </header>

            <p>
                Přehled nabízených školení pro firmy i jednotlivce.
                <br>Specializuji se zejména na školení <a href="#symfony">Symfony</a>, <a href="#nette">Nette</a>, <a href="#doctrine">Doctrine</a> a <a href="#related-skills">dalších IT dovedností</a>.
            </p>

            <hr>

            <a name="symfony"></a>
            <h2>Staňte se mistrem Symfony</h2>

            <p>Pochopíte silné stránky Symfony frameworku a na konci školení budete umět vytvořit aplikace postavené na <strong>Symfony 3</strong>.</p>

            <h3>Co vás na školení čeká</h3>

            <br>

            <ul>
                <li>seznámení s filosofií frameworku</li>
                <li>instalace pomocí nástroje Composer</li>
                <li>základní adresářová struktura - co kam patří a proč</li>
                <li>Kernel - cyklus Request → Response</li>
                <li>jaké podoby může mít <strong>Controller</strong></li>
                <li><strong>routování</strong>: vytváření hezkých URL</li>
                <li><strong>konfigurace aplikace</strong> pomocí YAML</li>
                <li><strong>Dependency Injection</strong> a autowiring</li>
                <li><strong>Twig</strong>: jednoduchý šablonovací systém</li>
                <li>jak vytvářet přehledné formuláře s objekty a jak je validovat</li>
                <li><strong>autentizace</strong> - jak se staví Firewall</li>
                <li><strong>autorizace</strong> - přístupové volby pomocí Voterů</li>
                <li>databáze: základní použití <strong>Doctrine ORM</strong> (detailně viz níže)</li>
                <li>tipy z praxe</li>
            </ul>

            <hr>

            <p class="text-center">
                Zaujala vás všestrannost Symfony?
            </p>
            <p class="text-center">
                <a href="{{ site.url }}/kontakt" class="btn btn-lg btn-success">Kontaktujte mne</a>
                &nbsp;&nbsp;a domluvíme detaily
            </p>

            <hr>

            <a name="nette"></a>
            <h2>Nette - poklad pro české webové vývojáře</h2>

            <p>Pochopíte návrh Nette frameworku a na konci školení budete umět vytvořit aplikace postavené na <strong>Nette 2.4</strong>.</p>

            <h3>Co vás na školení čeká</h3>

            <br>

            <ul>
                <li>seznámení s filosofií frameworku</li>
                <li>instalace pomocí nástroje Composer</li>
                <li><strong>Tracy Debugger</strong> a eliminace chyb</li>
                <li><strong>Dependency Injection</strong> a běhové prostředí, konfigurace</li>
                <li><strong>routování</strong>: vytváření hezkých URL</li>
                <li>MVP: presenter a jeho životní cyklus</li>
                <li><strong>šablonovací jazyk Latte</strong></li>
                <li><strong>formuláře</strong>: validace, customizace výstupu, bezpečnost, uživatelská přívětivost</li>
                <li>autentizace: přihlašování uživatelů, role a oprávnění</li>
                <li>databáze: základní použití <strong>Doctrine ORM</strong> (detailně viz níže)</li>
                <li>tipy z praxe</li>
            </ul>

            <hr>

            <p class="text-center">
                Máte chuť prozkoumat vychytávky Nette do hloubky?
            </p>
            <p class="text-center">
                <a href="{{ site.url }}/kontakt" class="btn btn-lg btn-success">Napište mi</a>
                &nbsp;&nbsp;a dohodneme se
            </p>

            <hr>

            <a name="doctrine"></a>
            <h2>Doctrine - rozlučte se s tabulkami</h2>

            <p>Během školení se pomalu vzdáme tabulek a začneme myslet v objektech. Ty vám ve spolupráci s vaším IDE <strong>ušetří spoustu času</strong>.</p>

            <h3>Co vás na školení čeká</h3>

            <br>

            <ul>
                <li>jak vypadá základní datový model</li>
                <li>co jsou to <strong>entity</strong></li>
                <li>vytvoříme si vlastní <strong>repositáře</strong></li>
                <li>co to je a jak funguje <strong>SQL filtrování</strong></li>
                <li>jak spravovat <strong>databázové migrace</strong></li>
                <li>co všechno Doctrine umožňuje <strong>v příkazové řádce</strong></li>
                <li><strong>jak řešit překlady entity</strong> a nestarat se o ně</li>
                <li>jak využívat Doctrine, <strong>ale nebýt na ní zbytečně závislý</strong></li>
                <li><strong>pravidlo 80/20</strong> - co Doctrine neumí a zbytečně byste to po ní chtěli</li>
                <li>ukážeme si <strong>oblíbené pasti na výkon</strong> a jak je hravě vyřešit</li>
                <li>a dám vám tipy na další balíčky, které nám usnadní práci</li>
            </ul>

            <hr>

            <p class="text-center">
                Chcete zažít pohodlnost Doctrine?
            </p>
            <p class="text-center">
                <a href="{{ site.url }}/kontakt" class="btn btn-lg btn-success">Dejte mi vědět</a>
                &ndash; rád vám s tím pomůžu.
            </p>

            <hr>

            <a name="related-skills"></a>

            <h2>Další IT dovednosti</h2>

            <div class="row">
                <div class="col-md-6">
                    <h3>Začněte si s Gitem</h3>
                    <ul>
                        <li>rozdíly oproti SVN</li>
                        <li>změny snadno a bez konfliktů</li>
                        <li>dělejte větve - feature branch workflow</li>
                        <li>co všechno umí Github a Gitlab</li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <h3>Pochopte základy testování</h3>
                    <ul>
                        <li>první unit test</li>
                        <li>jak používat PHPUnit</li>
                        <li>jak pracovat s pokrytím testů</li>
                        <li>kdy, co a jak testovat</li>
                    </ul>
                </div>
            </div>

            <br>

            <div class="row">
                <div class="col-md-6">
                    <h3>Pište čistý kód a škálujte architekturu</h3>
                    <ul>
                        <li>principy SOLID</li>
                        <li>jak na postupný refaktoring</li>
                        <li>continuous integration</li>
                        <li>jak vám usnadní práci coding standard (PHP_CodeSniffer, PHP-CS-Fixer...)</li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <h3>Posuňte svou PHP kariéru</h3>
                    <ul>
                        <li>kde najít práci</li>
                        <li>jak dát o sobě vědět</li>
                        <li>jak využít sociální sítě</li>
                        <li>jak reagovat na inzeráty</li>
                        <li>jak se zapojit do větších (i zahraničních) projektů</li>
                    </ul>
                </div>
            </div>

            <br>

            <div class="row">
                <div class="col-md-6">
                    <h3>Co umí Composer</h3>
                    <ul>
                        <li>jak funguje autoloading</li>
                        <li>jak optimalizovat načítání souborů</li>
                        <li>jak verzovat rozsáhlé velké projekty</li>
                        <li>jak na oddělené, lokální balíčky</li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <h3>Začněte dělat open-source</h3>
                    <ul>
                        <li>kde je hodnota práce na open-source</li>
                        <li>package design principles</li>
                        <li>PSR - PHP Standards Recommendations - co to je?</li>
                        <li>jak pracovat s Githubem</li>
                        <li>Travis CI - nechte tesování na stroji</li>
                    </ul>
                </div>
            </div>

            <hr>

            <p class="text-center">
                Už víte, jaký mix dovedností potřebujete získat?
            </p>
            <p class="text-center">
                <a href="{{ site.url }}/kontakt" class="btn btn-lg btn-success">Napište mi</a>
            </p>

            <hr>

            <p class="text-center">
                Nejste si jistí, zda vám školení sedne? Podívejte se na <a href="{{ site.url }}/reference">názory ostatních</a>
            </p>
        </div>

    </div>
</div>
