---
layout: "_layouts/default.twig"
title: "Dive in Talks"
id: talks
---

{% block content %}
    <div class="container" id="talks">
        <h1>{{ title }}</h1>

        {% for talk in talks %}
            <div class="card" id="{{ talk.anchor }}">
                <div class="text-center card-header">
                    <h2 class="card-title">
                        <a href="#{{ talk.anchor }}">
                            {{ talk.title }}
                        </a>
                    </h2>
                </div>
                <div class="card-body">
                    {% if talk.video_link is defined %}
                        <a href="{{ talk.video_link }}" class="btn btn-danger btn-sm mt-3 mr-2 mb-2">
                            <em class="fab fa-fw fa-youtube"></em>
                            Watch Talk
                        </a>
                    {% endif %}

                    {% if talk.demo_link is defined %}
                        <a href="{{ talk.demo_link }}" class="btn btn-dark btn-sm mt-3 mr-2 mb-2">
                            <em class="fab fa-fw fa-github"></em>
                            See Demo on Github
                        </a>
                    {% endif %}

                    {% if talk.slides_link is defined %}
                        <a href="{{ talk.slides_link }}" class="btn btn-warning btn-sm mt-3 mr-2 mb-2">
                            <em class="fab fa-fw fa-slideshare"></em>
                            See Slides
                        </a>
                    {% endif %}

                    {% if talk.related_post is defined %}
                        <a href="{{ talk.related_post }}" class="btn btn-info btn-sm mt-3 mr-2 mb-2">
                            <em class="fas fa-fw fa-book"></em>
                            Read Post
                        </a>
                    {% endif %}

                    {% if talk.events|length > 1 %}
                        <p class="mt-3">
                            <strong>Presented at</strong>
                        </p>

                        <ul>
                            {% for event in talk.events %}
                                <li>
                                    <a href="{{ event.link }}" class="mt-3 mb-2">
                                        {{ event.name }}
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        <p class="mt-3">
                            <strong>Presented at</strong>

                            <a href="{{ talk.events[0].link }}" class="mt-3 mb-2">
                                {{ talk.events[0].name }}
                            </a>
                        </p>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
