---
layout: "_layouts/default.twig"
title: "Testing Packages"
id: trends
---

{# local macros must be imported, then use like "{{ macros.<X>() }}" #}
{% import "_snippets/macros/trends_macros.twig" as macros %}

<div class="container-fluid">
    <h1>{{ title }}</h1>

    <p class="text-muted mb-4 small">Updated at {{ testing_packages.updated_at|date('j. n. H:i') }}</p>

    <p>
        This table is part of <a href="/php-framework-trends/">PHP Framework trends</a>. Here you can see how popular are various testing frameworks in downloads.
    </p>

    <ul class="mt-4 mb-4">
        <li><strong>Year Trend</strong> = what is the trend in downloads for last 12 moths, for whole <code>vendor/*</code> group</li>
        <li><strong>Monthly Average</strong> = full vendor downloads per month/number of packages in that vendor</li>
    </ul>

    <table class="table table-bordered table-responsive table-striped">
        <thead class="thead-inverse">
            <tr>
                <th class="text-center align-middle w-25">Package</th>
                <th class="text-center w-25">Year Trend</th>
                <th class="text-center w-25">Monthly Average</th>
                <th class="text-center w-25">Yearly Total</th>
            </tr>
        </thead>

        {% for package in testing_packages.packages %}
            <tr>
                <td>
                    <a href="https://packagist.org/packages/{{ package.package_name }}/stats">
                        {{ package.package_short_name }}
                    </a>
                </td>
                <td class="text-right text-nowrap">
                    {{ macros.trend(package.last_year_trend) }}
                </td>
                <td class="text-right text-nowrap">
                    {{ macros.number(package.last_month_average_daily_downloads) }}
                </td>
                <td class="text-right text-nowrap">
                    {{ macros.number(package.last_year_total) }}
                </td>
            </tr>
        {% endfor %}
    </table>

    <h2 id="comments">What Do You Think?</h2>

    {% include "_snippets/disqus_comments.twig" %}
</div>
