---
layout: "_layouts/default.twig"
title: "Testing Packages"
id: trends
---

{% macro trend(value) %}
    {% if value > 0 %}
        <strong>
            <span class="text-success">+ {{ value|number_format }} %</span>
        </strong>
    {% else %}
        <span class="text-danger">- {{ value|number_format|abs }} %</span>
    {% endif %}
{% endmacro %}

{% macro number(value) %}
    {{ value|number_format(0, ',', ' ') }}
{% endmacro %}

{# local macros must be imported, then use like "{{ macros.<X>() }}" #}
{% import _self as macros %}

<div class="container-fluid">
    <h1>{{ title }}</h1>

    <p class="text-muted mb-4 small">Updated at {{ testing_packages.updated_at|date('j. n. H:i') }}</p>

    <table class="table table-bordered table-responsive table-striped">
        <thead class="thead-inverse">
            <tr>
                <th class="text-center w-25">Package</th>
                <th class="text-center w-25">Year Trend</th>
                <th class="text-center w-25">Monthly Average</th>
                <th class="text-center w-25">Yearly Total</th>
            </tr>
        </thead>

        {% for package in testing_packages.packages %}
            <tr>
                <td>
                    <a href="https://packagist.org/packages/{{ package.package_name }}/stats">
                        {{ package.package_name }}
                    </a>
                </td>
                <td class="text-right">
                    {{ macros.trend(package.last_year_trend) }}
                </td>
                <td class="text-right">
                    {{ macros.number(package.last_month_average_daily_downloads) }}
                </td>
                <td class="text-right">
                    {{ macros.number(package.last_year_total) }}
                </td>

            </tr>
        {% endfor %}
    </table>
</div>
