---
layout: "_layouts/default.twig"
title: "Thank You"
id: thank_you
commit_limit: 3
---

<div class="container" id="contact">
    <h1>{{ title }}</h1>

    {% if patreon_backers_by_paid_amount is defined %}
        <p class="text-center bigger">
            Thanks to my backers that support me on <a href="https://www.patreon.com/rectorphp">Patreon</a>
        </p>

        <div class="row mt-0">
            {% for paid_amount, backers in patreon_backers_by_paid_amount %}
                <div class="col text-center">
                    <h2>$ {{ paid_amount }}</h2>

                    <ul class="list-unstyled">
                        {% for backer in backers %}
                            <li>{{ backer }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endfor %}
        </div>

        <div class="text-center mt-5 mb-5">
            <a href="https://www.patreon.com/bePatron?u=4756109" alt="Become a Patron"><img src="https://c5.patreon.com/external/logo/become_a_patron_button.png" /></a>
        </div>

        <hr>
    {% endif %}

    <p class="text-center bigger">
        Thanks to all <strong>{{ contributors|length }} contributors</strong> who patiently fix my English + typoes
        <br>and keep this website up to date!
    </p>

    <br>

    <div class="row text-center">
        {% for contributor in contributors %}
            {% if contributor.contribution_count > commit_limit %}
                <div class="pb-4 pt-2 col-6">
                    <img src="{{ contributor.photo }}" class="avatar">
                    <strong>{{ contributor.name }}</strong>

                    <small class="text-secondary">
                        for <a href="https://github.com/TomasVotruba/tomasvotruba.cz/commits?author={{ contributor.name }}">{{ contributor.contribution_count }} commits</a>
                    </small>
                </div>
            {% endif %}
        {% endfor %}
    </div>

    <br>

    <p>
        Thanks for couple of commits to

        {% set contributors = sort_by_field(contributors, 'name') %}
        {% for contributor in contributors %}
            {% if contributor.contribution_count <= commit_limit %}
                {% if loop.last %}and{% endif %}
                <a href="https://github.com/TomasVotruba/tomasvotruba.cz/commits?author={{ contributor.name }}">{{ contributor.name }}</a>{% if loop.index < (length(contributors) - 1) %}, {% endif %}{% if loop.last %}.{% endif %}

            {% endif %}
        {% endfor %}
    </p>
</div>
