---
layout: "_layouts/default.twig"
title: "Thank You"
id: thank_you
---

{% block content %}
    <div class="container" id="contact">
        <h1>{{ title }}</h1>

        <p class="text-center bigger">
            Thanks to all <strong>{{ contributors|length }} contributors</strong> who patiently fix my English + typoes
            <br>and keep this website up to date!
        </p>

        <br>

        <ul>
            {% for contributor in contributors %}
                {% if contributor.contribution_count > 2 %}
                    <li class="pb-2">
                        Thank you <a href="{{ contributor.url }}">{{ contributor.name }}</a> for <a href="https://github.com/TomasVotruba/tomasvotruba.cz/commits?author={{ contributor.name }}">{{ contributor.contribution_count }} commits</a>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>

        <br>

        <p>
            Thanks for couple commits to
            {% for contributor in contributors %}
                {% if contributor.contribution_count <= 2 %}
                    {% if loop.last %}and{% endif %}
                    <a href="{{ contributor.url }}">{{ contributor.name }}</a>{% if loop.index < (length(contributors) - 1) %}, {% endif %}{% if loop.last %}.{% endif %}

                {% endif %}
            {% endfor %}
        </p>
    </div>
{% endblock %}
